Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat: add support cta to social share component
  public/icons/coffee.svg
  src/components/SocialShare.astro
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

docs: update readme with project overview and links
  README.md
Due: pnpm md:lint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: add blog post about carrefour chatgpt playground hmr
  public/images/posts/2026-04-28-carrefour-chatgpt-playground-hmr/carrefour-chatgpt-banner.png
  public/images/posts/2026-04-28-carrefour-chatgpt-playground-hmr/carrefour-chatgpt-homepage.png
  public/images/posts/2026-04-28-carrefour-chatgpt-playground-hmr/product-list-ui-1.png
  public/images/posts/2026-04-28-carrefour-chatgpt-playground-hmr/product-list-ui-2.png
  public/images/posts/2026-04-28-carrefour-chatgpt-playground-hmr/search-store-ui.png
  public/videos/2026-04-28-carrefour-chatgpt-playground-hmr/playground-hmr-demo.mp4
  src/content/blog/2026-04-28-carrefour-chatgpt-playground-hmr.md
Due: pnpm md:lint

feat: add focus coding lofi music
  public/musics/focus-coding-lofi.mp3
Due: none

docs(blog): up article
  src/content/blog/2026-04-28-carrefour-chatgpt-playground-hmr.md
Due: pnpm md:lint

perf: lazy load pretext and skip layout on mobile
  src/components/client/pretext-loader.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/zen-tag-cloud.tsx
  tests/components/client/text-reveal-hooks.test.tsx
  tests/components/client/zen-tag-cloud.test.tsx
  tests/setup.ts
Due: oxlint --fix

perf: skip character-based reveal and touch bursts on mobile
  src/components/SakuraPetals.astro
  src/components/client/sakura-petals.ts
  src/components/client/zen-text-reveal.tsx
  src/pages/index.astro
  tests/components/client/sakura-petals.test.ts
  tests/components/client/zen-text-reveal.test.tsx
Due: oxlint --fix

perf: use simple fade for haiku apparition on mobile
  package.json
  pnpm-lock.yaml
  src/components/client/zen-haiku-reveal.tsx
  src/content/blog/2025-11-28-frontend-observatory-design-system-ast.md
  src/content/blog/2026-04-28-carrefour-chatgpt-playground-hmr.md
  src/pages/index.astro
  src/styles/_home.scss
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

chore: add pnpm-workspace to allow native dep builds
  pnpm-workspace.yaml
Due: none

feat: add blog post about gitlab frontend insights df slideshow
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/home-dashboard.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/project-nuxt-kit.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/slide-framework-distribution.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/slide-marcel.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/slide-top10-projects.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/slide-typescript.png
  public/images/posts/2026-05-26-gitlab-frontend-insights-df-slideshow/slideshow-banner.png
  public/videos/2026-05-26-gitlab-frontend-insights-df-slideshow/demo.mp4
  src/content/blog/2026-05-26-gitlab-frontend-insights-df-slideshow.md
Due: pnpm md:lint

docs: update readme
  README.md
Due: pnpm md:lint

docs(blog): update last article
  src/content/blog/2026-05-26-gitlab-frontend-insights-df-slideshow.md
Due: pnpm md:lint

doc(blog): add article on metrics breaking code assistants
  public/images/posts/diana-polekhina-Xg-ut7qtJiM-unsplash.webp
  public/images/posts/ibrahim-rifath-OApHds2yEGQ-unsplash.webp
  public/images/posts/michael-walter-iJMitgqRaZ8-unsplash.webp
  public/images/posts/praveen-kumar-GrV6d0Vibg-unsplash.webp
  public/images/posts/william-warby-WahfNoqbYnM-unsplash.webp
  src/content/blog/2026-06-03-when-measuring-a-code-assistant-breaks-it.md
Due: pnpm md:lint

chore: update about page
  public/images/avatar.webp
  src/pages/about.astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore: update about page
  public/images/avatar.webp
  src/components/client/world.scss
  src/pages/about.astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: harmonize blockquote font size across pages
  src/pages/about.astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore(deps): upgrade astro and integrations to v7
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build(config): update astro config for v7
  astro.config.mjs
Due: oxlint --fix

chore(blog): add the article banner renderer
  scripts/banner-ffmpeg-builds.html
  scripts/render-banner.mjs
Due: oxlint --fix

docs(blog): add the three ffmpeg builds article
  public/images/posts/2026-08-17-one-descriptor-three-ffmpeg-builds/on-device-render.gif
  public/images/posts/2026-08-17-one-descriptor-three-ffmpeg-builds/one-to-three-banner.webp
  src/content/blog/2026-08-17-one-descriptor-three-ffmpeg-builds.md
Due: pnpm md:lint

feat(blog): render mermaid diagrams to inline svg
  astro.config.mjs
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix
