Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat: refine post navigation UI and arrows layout
  src/pages/blog/[...slug].astro
  src/styles/_navigation.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: polish tag archive back button hover state
  src/pages/tags/[tag].astro
Due: oxlint --fix

fix: use AbortController for reliable navigation event listener management
  src/components/GlobalKeyboardNavigation.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

feat: enhance navigation hints with post titles and polished layout
  src/styles/_navigation.scss
Due: astro format, pnpm stylelint

chore: setup unit testing infrastructure and linting fixes
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/plugins/externalLink.ts
  src/styles/_navigation.scss
  src/styles/_reset.scss
  src/styles/_tokens.scss
  tests/components/client/BuyMeCoffee.test.tsx
  tests/components/client/PostTags.test.tsx
  tests/components/client/haiku-dissolve.test.ts
  tests/components/client/header-search-helpers.test.ts
  tests/components/client/text-reveal-hooks.test.tsx
  tests/components/client/use-haiku-animation.test.tsx
  tests/components/client/use-text-reveal.test.ts
  tests/components/client/zazen-world-helpers.test.ts
  tests/components/client/zazen-world.test.tsx
  tests/components/client/zen-haiku-reveal.test.tsx
  tests/components/client/zen-tag-cloud.test.tsx
  tests/components/client/zen-text-reveal.test.tsx
  tests/components/client/zen-title-reveal.test.tsx
  tests/plugins/externalLink.test.ts
  tests/setup.ts
  vitest.config.ts
Due: astro format, pnpm stylelint, oxlint --fix

chore: setup unit testing infrastructure and linting fixes
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
  src/plugins/externalLink.ts
  src/styles/_navigation.scss
  src/styles/_reset.scss
  src/styles/_tokens.scss
  tests/components/client/BuyMeCoffee.test.tsx
  tests/components/client/PostTags.test.tsx
  tests/components/client/haiku-dissolve.test.ts
  tests/components/client/header-search-helpers.test.ts
  tests/components/client/text-reveal-hooks.test.tsx
  tests/components/client/use-haiku-animation.test.tsx
  tests/components/client/use-text-reveal.test.ts
  tests/components/client/zen-haiku-reveal.test.tsx
  tests/components/client/zen-tag-cloud.test.tsx
  tests/components/client/zen-text-reveal.test.tsx
  tests/components/client/zen-title-reveal.test.tsx
  tests/plugins/externalLink.test.ts
  tests/setup.ts
  vitest.config.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat: add tag cloud component and tags support in blog
  src/components/client/PostTags.tsx
  src/components/client/zen-tag-cloud.tsx
  src/pages/index.astro
  src/pages/tags/index.astro
  src/styles/_home.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: redesign site footer and enhance profile animations
  src/components/Footer.astro
  src/styles/_layout.scss
Due: astro format, pnpm stylelint, oxlint --fix

refactor: improve recommended posts and social animations
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/pages/projects.astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: general ui refinements and formatting
  src/components/SocialShare.astro
  src/components/client/haiku-dissolve.ts
  src/components/client/header-init.ts
  src/components/client/header-search-helpers.ts
  src/components/client/header-search.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-haiku-animation.ts
  src/components/client/use-text-reveal.ts
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

style: general ui refinements and formatting
  src/components/SocialShare.astro
  src/components/client/haiku-dissolve.ts
  src/components/client/header-init.ts
  src/components/client/header-search-helpers.ts
  src/components/client/header-search.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-haiku-animation.ts
  src/components/client/use-text-reveal.ts
  src/components/client/zazen-world-helpers.ts
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

refactor: rename externallink plugin to kebab-case
  astro.config.mjs
  src/plugins/external-link.ts
  tests/plugins/external-link.test.ts
Due: oxlint --fix

chore: update code highlighting theme and font assets
  astro.config.mjs
  src/components/BaseHead.astro
  src/styles/_tokens.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: redesign site footer and implement scroll-to-top
  src/components/Footer.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/styles/_layout.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: enhance code and blockquote styling
  src/pages/404.astro
  src/styles/_blog.scss
  src/styles/_reset.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: implement path of stones game evolution
  src/components/client/use-zazen-audio.ts
  src/components/client/use-zazen-game.ts
  src/components/client/world.scss
  src/components/client/zazen-finale-overlay.tsx
  src/components/client/zazen-haiku-scroll.tsx
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world-types.ts
  src/components/client/zazen-world.tsx
  src/pages/path.astro
  src/styles/_pages.scss
  tests/components/client/zazen-world-helpers.test.ts
  tests/components/client/zazen-world.test.tsx
Due: astro format, pnpm stylelint, oxlint --fix

feat: implement path of stones game evolution
  src/styles/_pages.scss
Due: astro format, pnpm stylelint

feat: add tooltip component and polish header and mobile menu
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/SakuraPetals.astro
  src/components/SocialShare.astro
  src/components/Tooltip.astro
  src/styles/_components.scss
  src/styles/_header.scss
  src/styles/global.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: improve accessibility and semantic html structure
  src/components/Header.astro
  src/components/client/header-init.ts
  src/components/client/header-search.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/_search.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add tooltips to social links and navigation elements
  src/components/Footer.astro
  src/components/QrCode.astro
  src/components/SocialShare.astro
  src/components/client/zazen-world.tsx
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

feat: add tooltips to social links and navigation elements
  src/components/Footer.astro
  src/components/QrCode.astro
  src/components/SocialShare.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

style: polish header ui and global animation overrides
  src/components/client/zen-tag-cloud.tsx
  src/styles/_header.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: polish header ui and global animation overrides
  src/components/client/use-zazen-game.ts
  src/components/client/zazen-world-helpers.ts
  src/components/client/zen-tag-cloud.tsx
  src/styles/_header.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add buymecoffee component to blog posts
  src/components/client/BuyMeCoffee.tsx
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: improve zazen game finale overlay behavior and styling
  src/components/client/world.scss
  src/components/client/zazen-finale-overlay.tsx
  src/styles/_reset.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: improve zazen game finale overlay behavior and styling
  src/styles/_reset.scss
Due: astro format, pnpm stylelint

feat: add support cta to social share component
  public/icons/coffee.svg
  src/components/SocialShare.astro
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

Path conditions:
  pnpm md:lint: any of: *.md
  astro format: any of: *.{css,scss}
  pnpm stylelint: any of: *.{css,scss}
  oxlint --fix: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}
