Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat(garden): add animal greetings and bamboo reactions
  src/components/client/garden/rendering/scene.ts
  src/components/client/garden/rendering/scenery-motion.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): shrink stone shadows during levitation
  src/components/client/garden/rendering/scenery-motion.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add pixel cursors for reachable paths
  public/images/zazen/fx/cursor-default.png
  public/images/zazen/fx/cursor-move.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

perf(garden): optimize routing and lighting lookups
  docs/performance/garden-complexity.md
  src/components/client/garden/board/routing.ts
  src/components/client/garden/board/rules.ts
  src/components/client/garden/board/terrain.ts
  src/components/client/garden/rendering/atmosphere.ts
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/board/routing.test.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: pnpm md:lint, oxlint --fix

fix(garden): animate stones on collection
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): redesign path of stones with hd-2d rendering
  .github/workflows/astro-gh-pages.yml
  .gitignore
  .impeccable.md
  README.md
  oxlintrc.json
  package.json
  pnpm-lock.yaml
  public/icons/feather.svg
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/GardenTransition.astro
  src/components/HeaderLink.astro
  src/components/Icon.astro
  src/components/SocialShare.astro
  src/components/client/icon.tsx
  src/components/client/zen-text-reveal.tsx
  src/components/icon-registry.ts
  src/styles/_header.scss
  tests/architecture.test.ts
  tests/components/client/icon.test.tsx
  tests/components/client/zen-text-reveal.test.tsx
  tsconfig.json
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(garden): prototype a three.js board
  docs/performance/garden-three-prototype.md
  package.json
  pnpm-lock.yaml
  src/components/client/garden/composables/use-renderer.ts
  src/components/client/garden/rendering/three-engine.ts
  src/components/client/garden/rendering/three-projection.ts
  src/components/client/garden/rendering/webgl-board.tsx
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-renderer.test.tsx
  tests/components/client/garden/rendering/three-projection.test.ts
  tests/components/client/garden/rendering/webgl-board.test.tsx
  tests/visual/path-of-stones-three.spec.ts
Due: pnpm md:lint, oxlint --fix

fix(garden): align the woman's contact shadow
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: oxlint --fix

fix(garden): preserve sprite clarity and scale
  src/components/client/garden/components/figures/cat.tsx
  src/components/client/garden/components/figures/frog.tsx
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/diorama.scss
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/cat-footing.test.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): animate fountain interactions
  src/components/client/garden/rendering/fountain-water.ts
  src/components/client/garden/rendering/scene.ts
  src/components/client/garden/rendering/scenery-motion.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): improve balance and presentation
  .github/workflows/astro-gh-pages.yml
  README.md
Due: pnpm md:lint

feat(garden): evolve gardener behavior
  README.md
  docs/gardener-ai.md
  package.json
  scripts/garden-ai/evaluation.ts
  scripts/garden-ai/evolution.ts
  scripts/garden-ai/legacy.ts
  scripts/garden-ai/register.mjs
  scripts/garden-ai/run.mjs
  scripts/garden-ai/simulation.ts
  src/components/client/garden/board/gardener-memory.ts
  src/components/client/garden/board/gardener-movement.ts
  src/components/client/garden/board/gardener-profile.json
  src/components/client/garden/board/gardener.ts
  src/components/client/garden/board/rules.ts
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/headless.ts
  src/components/client/garden/index.ts
  src/components/client/garden/world.tsx
  tests/architecture.test.ts
  tests/components/client/garden/board/gardener-intelligence.test.ts
  tests/components/client/garden/board/gardener.test.ts
  tests/components/client/garden/board/generation-simulation.test.ts
  tests/scripts/gardener-evolution.test.ts
  tests/visual/path-of-stones-turns.spec.ts
Due: pnpm md:lint, oxlint --fix

docs(garden): record extended training results
  docs/gardener-ai.md
  docs/gardener-training-2026-09-10.json
Due: pnpm md:lint

feat(garden): refine gardener turn planning
  README.md
  docs/gardener-ai.md
  docs/gardener-planning-2026-09-10.json
  src/components/client/garden/board/gardener-movement.ts
  src/components/client/garden/board/gardener.ts
  src/components/client/garden/world.tsx
  tests/components/client/garden/board/gardener-intelligence.test.ts
  tests/components/client/garden/board/gardener-movement.test.ts
Due: pnpm md:lint, oxlint --fix

fix(garden): rescue frogs in balance simulations
  docs/gardener-ai.md
  docs/gardener-first-comparison-2026-09-10.json
  docs/gardener-first-comparison-2026-09-10.md
  scripts/garden-ai/simulation.ts
  tests/components/client/garden/board/generation-simulation.test.ts
Due: pnpm md:lint, oxlint --fix

feat(garden): evolve gardener behavior
  README.md
  docs/gardener-ai.md
  docs/gardener-first-comparison-2026-09-10.json
  docs/gardener-first-comparison-2026-09-10.md
  docs/gardener-planning-2026-09-10.json
  docs/gardener-training-2026-09-10.json
  package.json
  scripts/garden-ai/evaluation.ts
  scripts/garden-ai/evolution.ts
  scripts/garden-ai/legacy.ts
  scripts/garden-ai/register.mjs
  scripts/garden-ai/run.mjs
  scripts/garden-ai/simulation.ts
  src/components/client/garden/board/gardener-memory.ts
  src/components/client/garden/board/gardener-movement.ts
  src/components/client/garden/board/gardener-profile.json
  src/components/client/garden/board/gardener.ts
  src/components/client/garden/board/rules.ts
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/headless.ts
  src/components/client/garden/index.ts
  src/components/client/garden/world.tsx
  tests/architecture.test.ts
  tests/components/client/garden/board/gardener-intelligence.test.ts
  tests/components/client/garden/board/gardener-movement.test.ts
  tests/components/client/garden/board/gardener.test.ts
  tests/components/client/garden/board/generation-simulation.test.ts
  tests/scripts/gardener-evolution.test.ts
  tests/visual/path-of-stones-turns.spec.ts
Due: pnpm md:lint, oxlint --fix

feat(garden): evolve gardener behavior
  README.md
  package.json
  tests/architecture.test.ts
Due: pnpm md:lint, oxlint --fix

build(garden): include the daily challenge archive
  .github/workflows/astro-gh-pages.yml
  package.json
  src/pages/path-of-stones.astro
Due: oxlint --fix

fix(garden): embed the issued daily challenge
  .github/workflows/astro-gh-pages.yml
  .gitignore
  scripts/verify-build.mjs
  src/pages/path-of-stones.astro
  tests/architecture.test.ts
  vitest.config.ts
Due: oxlint --fix

build(garden): integrate the polished game
  .github/workflows/astro-gh-pages.yml
  package.json
  scripts/verify-build.mjs
  src/pages/path-of-stones.astro
  tests/architecture.test.ts
Due: oxlint --fix

build(garden): integrate the garden update
  .github/workflows/astro-gh-pages.yml
  .gitignore
  tests/architecture.test.ts
  vitest.config.ts
Due: oxlint --fix

chore(garden): sync private package
  pnpm-lock.yaml
Due: none
