Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

docs(blog): update frontend weekly digest 46
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated frontend weekly digest 46
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
Due: pnpm md:lint, pnpm md:check

chore: update deps
  package.json
  pnpm-lock.yaml
Due: none

chore: updated deps
  package.json
  pnpm-lock.yaml
Due: none

docs(about): added location
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

docs(about): add location
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

chore: add rss link
  src/pages/blog.astro
  src/pages/projects.astro
Due: astro format, pnpm lint, pnpm build

chore: added rss link
  src/pages/blog.astro
  src/pages/projects.astro
Due: astro format, pnpm lint, pnpm build

chore(blog): added bk share link
  src/components/SocialShare.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

chore(blog): add bk share link
  src/components/SocialShare.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): add weekly digest 3-4
  .markdown-link-check.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/content/blog/2025-01-27-frontend-weekly-digest-04.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 3-4
  .markdown-link-check.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/content/blog/2025-01-27-frontend-weekly-digest-04.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest
  .markdown-link-check.json
  package.json
  pnpm-lock.yaml
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-02-10-frontend-weekly-digest-6.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest
  .markdown-link-check.json
  package.json
  pnpm-lock.yaml
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-02-10-frontend-weekly-digest-6.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly disgest 8-9
  src/content/blog/2025-02-27-frontend-weekly-digest-9.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly disgest 8-9
  src/content/blog/2025-02-27-frontend-weekly-digest-9.md
Due: pnpm md:lint, pnpm md:check

docs(blog): remove link
  src/content/blog/2025-02-27-frontend-weekly-digest-9.md
Due: pnpm md:lint, pnpm md:check

docs(blog): removed link
  src/content/blog/2025-02-27-frontend-weekly-digest-9.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added new article
  src/content/blog/2025-03-04-future-of-js-key-features.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add new article
  src/content/blog/2025-03-04-future-of-js-key-features.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add new article
  package.json
  pnpm-lock.yaml
  public/images/posts/2025-03-23-gemini-flash-next-gen-img-pix-me/blog_gemini_keyword_header.width-2200.format-webp.webp
  public/images/posts/2025-03-23-gemini-flash-next-gen-img-pix-me/f2a1652356bc2558e8788c0a3d4968776d771cfd8c20f2bd7973d047188518f6.png
  public/images/posts/2025-03-23-gemini-flash-next-gen-img-pix-me/pix-me-gemini-flash-exp-720.gif
  src/content/blog/2025-03-04-future-of-js-key-features.md
  src/content/blog/2025-03-23-gemini-flash-next-gen-img-pix-me.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated new article
  src/content/blog/2025-03-23-gemini-flash-next-gen-img-pix-me.md
Due: pnpm md:lint, pnpm md:check

docs(blog): update new article
  src/content/blog/2025-03-23-gemini-flash-next-gen-img-pix-me.md
Due: pnpm md:lint, pnpm md:check
