Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm markdownlint --ignore node_modules --disable=MD013",
        "pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

feat(router): add projects page
  src/components/Header.astro
  src/pages/projects.astro
Due: astro format, pnpm lint, pnpm build

[Router] Added Projects Page
  src/components/Header.astro
  src/pages/projects.astro
Due: astro format, pnpm lint, pnpm build

[Project] Up styles
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

chore(project): update styles
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

chore(blog): update articles
  .markdown-link-check.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/images/posts/blake-connally-B3l0g6HLxr8-unsplash.jpg
  public/images/posts/ferenc-almasi-L8KQIPCODV8-unsplash.jpg
  public/images/posts/ferenc-almasi-VPmMy8YA_cU-unsplash.jpg
  public/images/posts/ferenc-almasi-hMYODfDWs9M-unsplash.jpg
  public/images/posts/fili-santillan-qp51FQhBnS0-unsplash.jpg
  public/images/posts/goran-ivos-idmvPhF8t4E-unsplash.jpg
  public/images/posts/greg-rakozy-vw3Ahg4x1tY-unsplash.jpg
  public/images/posts/headway-5QgIuuBxKwM-unsplash.jpg
  public/images/posts/jackson-sophat-wUbNvDTsOIc-unsplash.jpg
  public/images/posts/kobu-agency-ipARHaxETRk-unsplash.jpg
  public/images/posts/lautaro-andreani-xkBaqlcqeb4-unsplash.jpg
  public/images/posts/nubelson-fernandes-gTs2w7bu3Qo-unsplash.jpg
  public/images/posts/pankaj-patel-1IW4HQuauSU-unsplash.jpg
  public/images/posts/paul-esch-laurent-oZMUrWFHOB4-unsplash.jpg
  src/components/Footer.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/consts.ts
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-05-15-javascript-perf-array.md
  src/pages/about.astro
  src/pages/projects.astro
  src/styles/global.css
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm stylelint, pnpm lint, pnpm build

[Home] Added Haiku Description
  public/images/background.webp
  src/components/Footer.astro
  src/components/SocialNetworks.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(home): add haiku description
  public/images/background.webp
  src/components/Footer.astro
  src/components/SocialNetworks.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

[Blog] Added Weekly Digest 20-21
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

feat(blog): add weekly digest 20-21
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

style(text): align left
  src/pages/about.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

[Blog] Added Weekly Digest 22-23
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-06-07-frontend-weekly-digest-21.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

feat(blog): add weekly digest 22-23
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-06-07-frontend-weekly-digest-21.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

[Blog] Updated Weekly Digest 22-23
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

chore(blog): update weekly digest 22-23
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

chore(project): update depedencies
  package.json
  pnpm-lock.yaml
Due: none

[Project] Updated depedencies
  package.json
  pnpm-lock.yaml
Due: none

chore(blog): add weekly digest 24-25
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weeklydigest-25.md
  src/pages/about.astro
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm lint, pnpm build

chore(blog): added weekly digest 24-25
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weeklydigest-25.md
  src/pages/about.astro
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm lint, pnpm build

chore(blog): add state of js 2023
  public/images/posts/2024-06-21-state-of-js/frontend_ratios.png
  public/images/posts/2024-06-21-state-of-js/meta_frameworks_ratios.png
  public/images/posts/2024-06-21-state-of-js/state_of_js.png
  public/images/posts/2024-06-21-state-of-js/tiers_list.png
  public/images/posts/2024-06-21-state-of-js/tools_arrows.png
  src/content/blog/2024-06-21-frontend-weeklydigest-25.md
  src/content/blog/2024-06-21-state-of-js.md
  src/styles/global.css
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm stylelint

chore(blog): added state of js 2023
  public/images/posts/2024-06-21-state-of-js/frontend_ratios.png
  public/images/posts/2024-06-21-state-of-js/meta_frameworks_ratios.png
  public/images/posts/2024-06-21-state-of-js/state_of_js.png
  public/images/posts/2024-06-21-state-of-js/tiers_list.png
  public/images/posts/2024-06-21-state-of-js/tools_arrows.png
  src/content/blog/2024-06-21-frontend-weeklydigest-25.md
  src/content/blog/2024-06-21-state-of-js.md
  src/styles/global.css
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json, astro format, pnpm stylelint

chore(const): up presentation title
  src/consts.ts
Due: none

feat(blog): add weekly digest 26
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-frontend-weekly-digest-26.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

feat(blog): added weekly digest 26
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-frontend-weekly-digest-26.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json

docs(blog): add conventional commit article
  .lintstagedrc
  package.json
  public/images/posts/2024-07-09-conventional-commit-jira/banner.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/githook.webp
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab-2.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitmessage.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/hook.png
  public/images/posts/2024-07-09-conventional-commit-jira/jira.png
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-09-conventional-commit-jira.md
Due: pnpm markdownlint --ignore node_modules --disable=MD013, pnpm markdown-link-check --ignore node_modules -c .markdown-link-check.json
