Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(garden): seed the board from github activity
  .github/workflows/astro-gh-pages.yml
  .lintstagedrc
  package.json
  scripts/fetch-github-garden.mjs
  src/data/garden-schema.ts
  src/data/github-garden.json
  tests/data/garden-schema.test.ts
Due: oxlint --fix

feat(garden): add the pilgrim, the animals and the hud
  src/components/client/use-zazen-audio.ts
  src/components/client/use-zazen-game.ts
  src/components/client/use-zazen-step.ts
  src/components/client/world.scss
  src/components/client/zazen-cat.tsx
  src/components/client/zazen-companion.tsx
  src/components/client/zazen-day-card.tsx
  src/components/client/zazen-haiku-scroll.tsx
  src/components/client/zazen-heatmap.tsx
  src/components/client/zazen-pilgrim.tsx
  src/components/client/zazen-world.tsx
  tests/components/client/use-zazen-game.test.tsx
  tests/components/client/use-zazen-step.test.tsx
  tests/components/client/zazen-world.test.tsx
Due: astro format, pnpm stylelint, oxlint --fix

docs: add the path of stones plan and design notes
  docs/superpowers/plans/2026-09-05-path-of-stones-pixel-garden.md
  docs/superpowers/specs/2026-09-05-path-of-stones-design.md
Due: pnpm md:lint

refactor(nav): move the garden to /path-of-stones
  astro.config.mjs
  src/components/Footer.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/pages/path-of-stones.astro
  src/pages/path.astro
  tests/visual/path-of-stones.spec.ts
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-chromium-darwin.png
Due: oxlint --fix

feat(garden): score the walk and end it
  src/components/client/zazen-defeat-overlay.tsx
  src/components/client/zazen-finale-overlay.tsx
  src/components/client/zazen-score.ts
  tests/components/client/zazen-score.test.ts
Due: oxlint --fix

refactor(garden): move the game into its own tree
  src/components/client/garden/board/geometry.ts
  src/components/client/garden/board/rng.ts
  src/components/client/garden/board/routing.ts
  src/components/client/garden/board/rules.ts
  src/components/client/garden/board/terrain.ts
  src/components/client/garden/figures/cat.tsx
  src/components/client/garden/figures/companion.tsx
  src/components/client/garden/figures/pilgrim.tsx
  src/components/client/garden/hud/day-card.tsx
  src/components/client/garden/hud/defeat-overlay.tsx
  src/components/client/garden/hud/finale-overlay.tsx
  src/components/client/garden/hud/haiku-scroll.tsx
  src/components/client/garden/hud/heatmap.tsx
  src/components/client/garden/state/score.ts
  src/components/client/garden/state/use-audio.ts
  src/components/client/garden/state/use-game.ts
  src/components/client/garden/state/use-step.ts
  src/components/client/garden/types.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  src/pages/path-of-stones.astro
  tests/components/client/garden/board/geometry.test.ts
  tests/components/client/garden/board/rng.test.ts
  tests/components/client/garden/board/rules.test.ts
  tests/components/client/garden/board/terrain.test.ts
  tests/components/client/garden/state/score.test.ts
  tests/components/client/garden/state/use-game.test.tsx
  tests/components/client/garden/state/use-step.test.tsx
  tests/components/client/garden/world.test.tsx
  tests/scripts/zazen-art.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

refactor(garden): make the garden a feature module
  src/components/client/garden/board/index.ts
  src/components/client/garden/board/terrain.ts
  src/components/client/garden/components/figures/cat.tsx
  src/components/client/garden/components/figures/companion.tsx
  src/components/client/garden/components/figures/index.ts
  src/components/client/garden/components/figures/pilgrim.tsx
  src/components/client/garden/components/hud/day-card.tsx
  src/components/client/garden/components/hud/defeat-overlay.tsx
  src/components/client/garden/components/hud/finale-overlay.tsx
  src/components/client/garden/components/hud/haiku-scroll.tsx
  src/components/client/garden/components/hud/heatmap.tsx
  src/components/client/garden/components/hud/index.ts
  src/components/client/garden/components/index.ts
  src/components/client/garden/composables/index.ts
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/composables/use-step.ts
  src/components/client/garden/index.ts
  src/components/client/garden/schema.ts
  src/components/client/garden/score.ts
  src/components/client/garden/types.ts
  src/components/client/garden/world.tsx
  src/pages/path-of-stones.astro
  tests/architecture.test.ts
  tests/components/client/garden/board/terrain.test.ts
  tests/components/client/garden/composables/use-game.test.tsx
  tests/components/client/garden/composables/use-step.test.tsx
  tests/components/client/garden/schema.test.ts
  tests/components/client/garden/score.test.ts
Due: oxlint --fix

feat: path of stones
  .github/workflows/astro-gh-pages.yml
  .lintstagedrc
  astro.config.mjs
  package.json
  src/components/Footer.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  tests/architecture.test.ts
Due: oxlint --fix

docs(blog): add the every failure here exits zero article
  public/images/posts/2026-09-06-every-failure-here-exits-zero/before-after-banner.webp
  public/images/posts/2026-09-06-every-failure-here-exits-zero/title-card.webp
  public/videos/2026-09-06-every-failure-here-exits-zero/spos3-1965-evidence.mp4
  src/components/client/garden/board/terrain.ts
  src/content/blog/2026-09-06-every-failure-here-exits-zero.md
Due: pnpm md:lint, oxlint --fix

docs(blog): add the every failure here exits zero article
  public/images/posts/2026-09-06-every-failure-here-exits-zero/before-after-banner.webp
  public/images/posts/2026-09-06-every-failure-here-exits-zero/title-card.webp
  public/videos/2026-09-06-every-failure-here-exits-zero/spos3-1965-evidence.mp4
  src/content/blog/2026-09-06-every-failure-here-exits-zero.md
Due: pnpm md:lint

docs(blog): focus on agent review videos
  src/content/blog/2026-09-06-every-failure-here-exits-zero.md
Due: pnpm md:lint

refactor(icons): replace shared sprite with lucide
  public/icons/feather.svg
  src/components/Footer.astro
  src/components/Icon.astro
  src/components/SocialShare.astro
  src/components/client/icon.tsx
  src/components/icon-registry.ts
  tests/components/client/icon.test.tsx
Due: oxlint --fix

feat(navigation): add garden page transitions
  src/components/BaseHead.astro
  src/components/GardenTransition.astro
  src/components/HeaderLink.astro
  src/styles/_header.scss
  tests/visual/path-of-stones-transition.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): balance gardener turns
  src/components/client/garden/board/challenge.ts
  src/components/client/garden/board/gardener.ts
  src/components/client/garden/board/rules.ts
  src/components/client/garden/board/terrain.ts
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/score.ts
  tests/components/client/garden/board/activity-balance.test.ts
  tests/components/client/garden/board/challenge.test.ts
  tests/components/client/garden/board/gardener.test.ts
  tests/components/client/garden/board/terrain.test.ts
  tests/components/client/garden/composables/use-game.test.tsx
  tests/components/client/garden/score.test.ts
Due: oxlint --fix

feat(garden): polish gameplay and touch controls
  src/components/GardenLoading.astro
  src/components/client/garden/components/figures/cat.tsx
  src/components/client/garden/components/figures/companion.tsx
  src/components/client/garden/components/figures/gardener.tsx
  src/components/client/garden/components/hud/defeat-overlay.tsx
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/components/hud/finale-overlay.tsx
  src/components/client/garden/components/hud/journey.tsx
  src/components/client/garden/components/hud/turn-announcement.tsx
  src/components/client/garden/composables/use-gamepad.ts
  src/components/client/garden/composables/use-stride.ts
  src/components/client/garden/diorama.scss
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  src/pages/path-of-stones.astro
  tests/components/client/garden/composables/use-gamepad.test.tsx
  tests/components/client/garden/discovery-cards.test.tsx
  tests/components/client/garden/figures.test.tsx
  tests/components/client/garden/finale.test.tsx
  tests/components/client/garden/journey.test.tsx
  tests/components/client/garden/model.ts
  tests/components/client/garden/world.test.tsx
  tests/visual/path-of-stones-cards.spec.ts
  tests/visual/path-of-stones-gamepad.spec.ts
  tests/visual/path-of-stones-gameplay.spec.ts
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-chromium-darwin.png
  tests/visual/path-of-stones-loading.spec.ts
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-chromium-darwin.png
  tests/visual/path-of-stones-touch.spec.ts
  tests/visual/path-of-stones-turns.spec.ts
  tests/visual/path-of-stones.spec.ts
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-chromium-darwin.png
Due: astro format, pnpm stylelint, oxlint --fix

fix(text): hydrate mobile reveals consistently
  src/components/client/zen-text-reveal.tsx
  tests/components/client/zen-text-reveal.test.tsx
Due: oxlint --fix

feat(garden): refine terrain and character art
  public/images/zazen/decors/lantern-lit.png
  public/images/zazen/decors/lantern-unlit.png
  public/images/zazen/decors/pine.png
  public/images/zazen/decors/rock-mound.png
  public/images/zazen/decors/rock-small.png
  public/images/zazen/decors/stone-marker-lit.png
  public/images/zazen/decors/stone-marker.png
  public/images/zazen/decors/torii.png
  public/images/zazen/persos/gardener.png
  public/images/zazen/persos/npc-2-life.png
  public/images/zazen/persos/npc-2.png
  public/images/zazen/persos/pilgrim.png
  public/images/zazen/sol/gravel-edge.png
  public/images/zazen/sol/moss-deep.png
  public/images/zazen/sol/moss-mid.png
  public/images/zazen/sol/sand-0.png
  public/images/zazen/sol/sand-1.png
  public/images/zazen/sol/sand-moss.png
  public/images/zazen/sol/shrine-active.png
  public/images/zazen/sol/shrine-locked.png
  public/images/zazen/sol/stone-slab.png
  public/images/zazen/sol/water-still.png
  scripts/zazen-art/sprites.mjs
Due: oxlint --fix

feat(garden): polish discovery cards
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/components/hud/discovery-cards.tsx
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add tactical scene and interface
  public/images/zazen/sanctuary-dawn.webp
  src/components/GardenLoading.astro
  src/components/client/garden/components/hud/turn-announcement.tsx
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  src/pages/path-of-stones.astro
  tests/components/client/garden/world.test.tsx
  tests/visual/path-of-stones-art-direction.spec.ts
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-chromium-darwin.png
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-chromium-darwin.png
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-chromium-darwin.png
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): align sidebar panel widths
  src/components/client/garden/tactics.scss
  tests/visual/path-of-stones-gameplay.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): collapse the field journal
  src/components/client/garden/components/hud/journey.tsx
  src/components/client/garden/tactics.scss
  tests/visual/path-of-stones-cards.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

refactor(garden): clarify controls and journal feedback
  .impeccable.md
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-cards.spec.ts
  tests/visual/path-of-stones-gamepad.spec.ts
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(garden): add seamless ground variations
  public/images/zazen/sol/gravel-edge-v1.png
  public/images/zazen/sol/gravel-edge-v2.png
  public/images/zazen/sol/gravel-edge-v3.png
  public/images/zazen/sol/gravel-edge.png
  public/images/zazen/sol/moss-deep-v1.png
  public/images/zazen/sol/moss-deep-v2.png
  public/images/zazen/sol/moss-deep-v3.png
  public/images/zazen/sol/moss-deep.png
  public/images/zazen/sol/moss-mid-v1.png
  public/images/zazen/sol/moss-mid-v2.png
  public/images/zazen/sol/moss-mid-v3.png
  public/images/zazen/sol/moss-mid.png
  public/images/zazen/sol/sand-0-v1.png
  public/images/zazen/sol/sand-0-v2.png
  public/images/zazen/sol/sand-0-v3.png
  public/images/zazen/sol/sand-0.png
  public/images/zazen/sol/sand-1-v1.png
  public/images/zazen/sol/sand-1-v2.png
  public/images/zazen/sol/sand-1-v3.png
  public/images/zazen/sol/sand-1.png
  public/images/zazen/sol/sand-moss-v1.png
  public/images/zazen/sol/sand-moss-v2.png
  public/images/zazen/sol/sand-moss-v3.png
  public/images/zazen/sol/sand-moss.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/world.tsx
  tests/scripts/zazen-art.test.ts
Due: oxlint --fix

test(garden): expand journal before checking records
  tests/visual/path-of-stones-gameplay.spec.ts
Due: oxlint --fix

fix(garden): align almanac panel heights
  src/components/client/garden/tactics.scss
  tests/visual/path-of-stones-art-direction.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): refine character art and idle gestures
  public/images/zazen/decors/frog-life.png
  public/images/zazen/decors/koi-life.png
  public/images/zazen/persos/cat-walk.png
  public/images/zazen/persos/gardener.png
  public/images/zazen/persos/npc-2-life.png
  public/images/zazen/persos/npc-2.png
  public/images/zazen/persos/npc-3-life.png
  public/images/zazen/persos/npc-3.png
  public/images/zazen/persos/pilgrim.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  tests/scripts/zazen-art.test.ts
Due: oxlint --fix

feat(garden): add ambient lighting and animal animation
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-art-direction.spec.ts
  tests/visual/path-of-stones-gameplay.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): protect controls from movement shortcuts
  src/components/client/garden/board/rules.ts
  tests/components/client/garden/board/rules.test.ts
  tests/visual/path-of-stones-cards.spec.ts
Due: oxlint --fix

feat(garden): refine foliage and stone ornaments
  public/images/zazen/decors/bamboo-a.png
  public/images/zazen/decors/bamboo-b.png
  public/images/zazen/decors/lantern-lit.png
  public/images/zazen/decors/lantern-unlit.png
  public/images/zazen/decors/pagoda.png
  public/images/zazen/decors/rock-mound.png
  public/images/zazen/decors/rock-small.png
  public/images/zazen/decors/shishi-odoshi.png
  public/images/zazen/decors/torii.png
  scripts/zazen-art/sprites.mjs
Due: oxlint --fix

feat(garden): refine gardener tile highlights
  src/components/client/garden/diorama.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-art-direction.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): harmonize character gestures and pacing
  public/images/zazen/persos/pilgrim-idle.png
  public/images/zazen/persos/pilgrim.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/diorama.scss
  src/components/client/garden/world.scss
  tests/scripts/zazen-art.test.ts
  tests/visual/path-of-stones-art-direction.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): restore fine grass textures
  public/images/zazen/sol/moss-deep-v1.png
  public/images/zazen/sol/moss-deep-v2.png
  public/images/zazen/sol/moss-deep-v3.png
  public/images/zazen/sol/moss-deep.png
  public/images/zazen/sol/moss-mid-v1.png
  public/images/zazen/sol/moss-mid-v2.png
  public/images/zazen/sol/moss-mid-v3.png
  public/images/zazen/sol/moss-mid.png
  public/images/zazen/sol/sand-moss-v1.png
  public/images/zazen/sol/sand-moss-v2.png
  public/images/zazen/sol/sand-moss-v3.png
  public/images/zazen/sol/sand-moss.png
  scripts/zazen-art/sprites.mjs
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-Mobile-Chrome-darwin.png
Due: oxlint --fix

feat(garden): animate frog hops and sequence its transformation
  src/components/client/garden/components/figures/companion.tsx
  src/components/client/garden/components/figures/frog.tsx
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-game.test.tsx
  tests/components/client/garden/figures.test.tsx
  tests/visual/path-of-stones-gameplay.spec.ts
  tests/visual/path-of-stones-turns.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): bring koi swimming to life
  public/images/zazen/decors/koi-life.png
  public/images/zazen/decors/koi.png
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-art-direction.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): remove bare borders from grass tiles
  public/images/zazen/sol/moss-deep-v1.png
  public/images/zazen/sol/moss-deep-v2.png
  public/images/zazen/sol/moss-deep-v3.png
  public/images/zazen/sol/moss-deep.png
  public/images/zazen/sol/moss-mid-v1.png
  public/images/zazen/sol/moss-mid-v2.png
  public/images/zazen/sol/moss-mid-v3.png
  public/images/zazen/sol/moss-mid.png
  public/images/zazen/sol/sand-moss-v1.png
  public/images/zazen/sol/sand-moss-v2.png
  public/images/zazen/sol/sand-moss-v3.png
  public/images/zazen/sol/sand-moss.png
  scripts/zazen-art/sprites.mjs
  tests/scripts/zazen-art.test.ts
Due: oxlint --fix

fix(garden): synchronize frog shadow with hops
  src/components/client/garden/components/figures/frog.tsx
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/figures.test.tsx
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): refine pixel birds and add drifting clouds
  public/images/zazen/fx/bird-flight.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/scripts/zazen-art.test.ts
  tests/visual/path-of-stones-art-direction.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

Path conditions:
  pnpm md:lint: any of: *.md
  astro format: any of: *.{css,scss}
  pnpm stylelint: any of: *.{css,scss}
  oxlint --fix: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}
