Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat: add rss feed copy-to-clipboard in footer
  src/components/Footer.astro
  src/styles/_layout.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add tag filter chips on blog archive page
  src/pages/blog.astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add heading anchor deeplinks on blog posts
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/pages/blog/[...slug].astro
  src/styles/_reset.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add qr code component and enhance about page layout
  package.json
  pnpm-lock.yaml
  src/components/QrCode.astro
  src/pages/about.astro
Due: oxlint --fix

fix: refine home card styles and heading anchor visibility
  src/components/Footer.astro
  src/styles/_home.scss
  src/styles/_reset.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: clean up zazen world styles and helpers
  src/components/client/world.scss
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world.tsx
Due: astro format, pnpm stylelint, oxlint --fix

fix: remove unused line in social networks component
  src/components/SocialNetworks.astro
Due: oxlint --fix

feat: enhance social networks and about page design
  src/components/SocialNetworks.astro
  src/pages/about.astro
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: adjust home card spacing
  src/styles/_home.scss
Due: astro format, pnpm stylelint

fix: reorder compact social network links
  src/components/SocialNetworks.astro
Due: oxlint --fix

style: migrate remaining token values to oklch
  src/styles/_tokens.scss
Due: astro format, pnpm stylelint

style: refine component styles and improve responsive behavior
  src/styles/_blog.scss
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_navigation.scss
  src/styles/_pages.scss
  src/styles/_reset.scss
  src/styles/_search.scss
Due: astro format, pnpm stylelint

feat: enhance smoke reveal with intersection observer trigger
  src/components/client/haiku-dissolve.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-text-reveal.tsx
  src/components/client/zen-title-reveal.tsx
Due: oxlint --fix

fix: update index and blog post page templates
  src/pages/blog/[...slug].astro
  src/pages/index.astro
Due: oxlint --fix

feat: add sakura petals seasonal animation
  src/components/SakuraPetals.astro
  src/layouts/Layout.astro
Due: oxlint --fix

style: consolidate styles and improve zen animation system
  src/styles/_blog.scss
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_navigation.scss
  src/styles/_pages.scss
  src/styles/_reset.scss
  src/styles/_search.scss
  src/styles/_tokens.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint

fix: update page templates and component markup
  src/components/QrCode.astro
  src/components/SocialNetworks.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/tags/[tag].astro
Due: oxlint --fix

fix: remove unused zen-focus-reveal class and restore share icon filter
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

perf: optimize text reveal and parallax animations for mobile gpu
  .oxlintrc.jsonc
  src/components/client/haiku-dissolve.ts
  src/components/client/header-init.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-haiku-animation.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-text-reveal.tsx
  src/styles/_header.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: polish homepage card hover states and touch targets
  src/pages/index.astro
  src/pages/tags/index.astro
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_reset.scss
  src/styles/_search.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add native share button
  public/icons/share.svg
  src/components/SocialShare.astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix
