Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat(garden): reveal a secret mermaid in the pond
  public/images/zazen/persos/mermaid-life.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/components/figures/companion.tsx
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/components/hud/journey.tsx
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/discovery-cards.test.tsx
  tests/visual/path-of-stones-gameplay.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add animated gardener counterattacks
  public/images/zazen/persos/gardener-strike.png
  scripts/generate-zazen-art.mjs
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/components/figures/gardener.tsx
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-game.test.tsx
  tests/visual/path-of-stones-gameplay.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): give the cat feline ears and tail
  public/images/zazen/persos/cat-walk.png
  scripts/zazen-art/sprites.mjs
Due: oxlint --fix

fix(garden): prevent layout shifts on tile hover
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.tsx
  tests/visual/path-of-stones-hover.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): smooth the cat tail silhouette
  public/images/zazen/persos/cat-walk.png
  scripts/zazen-art/sprites.mjs
  tests/scripts/zazen-art.test.ts
Due: oxlint --fix

feat(garden): refine bird silhouettes and gliding
  public/images/zazen/fx/bird-flight.png
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/tactics.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): speed up bonus cards and block click-through
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/components/hud/discovery-cards.tsx
  tests/components/client/garden/discovery-cards.test.tsx
  tests/visual/path-of-stones-gameplay.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): replace card halos with pixel sparks
  src/components/client/garden/components/hud/discovery-cards.scss
  src/components/client/garden/components/hud/discovery-cards.tsx
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add a subtle card reflection sweep
  src/components/client/garden/components/hud/discovery-cards.scss
Due: astro format, pnpm stylelint

feat(garden): prioritize nearby stones before the gate
  src/components/client/garden/board/gardener.ts
  tests/components/client/garden/board/gardener.test.ts
Due: oxlint --fix

feat(garden): prioritize paths that force stone spending
  src/components/client/garden/board/gardener.ts
  tests/components/client/garden/board/gardener.test.ts
Due: oxlint --fix

feat(garden): maximize pressure on stone routes
  src/components/client/garden/board/gardener.ts
  tests/components/client/garden/board/gardener.test.ts
Due: oxlint --fix

feat(garden): add attack and bonus card sounds
  public/sounds/garden/CREDITS.md
  public/sounds/garden/card-reveal.mp3
  public/sounds/garden/gardener-hit.mp3
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/world.tsx
  tests/components/client/garden/audio.test.tsx
  tests/components/client/garden/discovery-cards.test.tsx
Due: pnpm md:lint, oxlint --fix

feat(garden): add quiet background music and toggle
  public/sounds/garden/CREDITS.md
  public/sounds/garden/zen-garden.mp3
  src/components/client/garden/composables/use-music.ts
  src/components/client/garden/world.tsx
  src/components/icon-registry.ts
  tests/components/client/garden/music.test.tsx
  tests/components/client/garden/world.test.tsx
Due: pnpm md:lint, oxlint --fix

feat(garden): celebrate the final gate with a victory jingle
  public/sounds/garden/CREDITS.md
  public/sounds/garden/gate-victory.mp3
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/world.tsx
  tests/components/client/garden/audio.test.tsx
Due: pnpm md:lint, oxlint --fix

fix(garden): replace victory fanfare with a gentle singing bowl
  public/sounds/garden/CREDITS.md
  public/sounds/garden/gate-bowl.mp3
  public/sounds/garden/gate-victory.mp3
  src/components/client/garden/composables/use-audio.ts
Due: pnpm md:lint, oxlint --fix

fix(garden): address gameplay and audio review findings
  public/sounds/garden/CREDITS.md
  public/sounds/garden/zen-garden.mp3
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/composables/use-music.ts
  src/components/client/garden/world.tsx
  tests/components/client/garden/audio.test.tsx
  tests/components/client/garden/cat-footing.test.tsx
  tests/components/client/garden/discovery-cards.test.tsx
  tests/components/client/garden/music.test.tsx
Due: pnpm md:lint, oxlint --fix

fix(garden): restore cat discovery and update regression checks
  src/components/client/garden/world.tsx
  tests/components/client/garden/cat-footing.test.tsx
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-gameplay.spec.ts-snapshots/garden-victory-chromium-darwin.png
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones-loading.spec.ts-snapshots/garden-loading-chromium-darwin.png
  tests/visual/path-of-stones-turns.spec.ts
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-Mobile-Chrome-darwin.png
  tests/visual/path-of-stones.spec.ts-snapshots/path-garden-chromium-darwin.png
Due: oxlint --fix

refactor(garden): modernize react state and effect lifecycles
  oxlintrc.json
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/components/hud/finale-overlay.tsx
  src/components/client/garden/components/hud/journey.tsx
  src/components/client/garden/components/hud/turn-announcement.tsx
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/composables/use-gamepad.ts
  src/components/client/garden/composables/use-stride.ts
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-game.test.tsx
  tests/components/client/garden/discovery-cards.test.tsx
  tests/components/client/garden/finale.test.tsx
  tests/components/client/garden/journey.test.tsx
  tests/components/client/garden/turn-announcement.test.tsx
Due: oxlint --fix

perf(garden): reduce render work and duplicate assets
  src/components/client/garden/components/hud/discovery-cards.tsx
  src/components/client/garden/composables/use-audio.ts
  src/components/client/garden/index.scss
  src/components/client/garden/index.ts
  src/components/client/garden/world.tsx
  src/pages/path-of-stones.astro
  tests/architecture.test.ts
  tests/components/client/garden/audio.test.tsx
Due: astro format, pnpm stylelint, oxlint --fix

test(garden): enforce comprehensive gameplay coverage
  .github/workflows/astro-gh-pages.yml
  .gitignore
  README.md
  package.json
  tests/components/client/garden/audio.test.tsx
  tests/components/client/garden/hud-interactions.test.tsx
  tests/components/client/garden/schema.test.ts
  tests/components/client/garden/world-interactions.test.tsx
  tsconfig.json
  vitest.garden.config.ts
Due: pnpm md:lint, oxlint --fix

perf(garden): isolate animation and lighten board compositing
  README.md
  package.json
  scripts/benchmark-garden.mjs
  src/components/client/garden/components/figures/cat.tsx
  src/components/client/garden/components/figures/companion.tsx
  src/components/client/garden/components/figures/frog.tsx
  src/components/client/garden/components/figures/gardener.tsx
  src/components/client/garden/components/figures/pilgrim.tsx
  src/components/client/garden/diorama.scss
  src/components/client/garden/tactics.scss
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/cat-footing.test.tsx
  tests/components/client/garden/figures.test.tsx
  tests/components/client/garden/world-interactions.test.tsx
  tests/visual/path-of-stones-art-direction.spec.ts
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(garden): add experimental webgl board
  package.json
  pnpm-lock.yaml
  src/components/client/garden/rendering/artwork.ts
  src/components/client/garden/rendering/scene.ts
  src/components/client/garden/rendering/webgl-board.tsx
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-board.test.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

perf(garden): compare board renderers on native gpu
  README.md
  docs/performance/garden-webgl.md
  scripts/benchmark-garden.mjs
Due: pnpm md:lint, oxlint --fix

feat(garden): add hd-2d lighting and atmosphere
  docs/performance/garden-webgl.md
  src/components/client/garden/rendering/atmosphere.ts
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: pnpm md:lint, oxlint --fix

feat(garden): enhance hd-2d rendering and enable it by default
  README.md
  docs/performance/garden-webgl.md
  src/components/client/garden/composables/use-renderer.ts
  src/components/client/garden/rendering/atmosphere.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-renderer.test.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-art-direction.spec.ts
  tests/visual/path-of-stones-cards.spec.ts
  tests/visual/path-of-stones-gamepad.spec.ts
  tests/visual/path-of-stones-gameplay.spec.ts
  tests/visual/path-of-stones-hover.spec.ts
  tests/visual/path-of-stones-loading.spec.ts
  tests/visual/path-of-stones-touch.spec.ts
  tests/visual/path-of-stones-transition.spec.ts
  tests/visual/path-of-stones-turns.spec.ts
  tests/visual/path-of-stones-webgl.spec.ts
  tests/visual/path-of-stones.spec.ts
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(garden): refine bird sprites and flight animation
  public/images/zazen/fx/bird-flight.png
  scripts/zazen-art/sprites.mjs
  src/components/client/garden/tactics.scss
  tests/scripts/zazen-art.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): shorten bird tail
  public/images/zazen/fx/bird-flight.png
  scripts/zazen-art/sprites.mjs
Due: oxlint --fix

fix(garden): improve cat tail visibility
  public/images/zazen/persos/cat-walk.png
  scripts/zazen-art/sprites.mjs
Due: oxlint --fix

feat(garden): refine mist and ambient lighting
  docs/performance/garden-webgl.md
  src/components/client/garden/rendering/atmosphere.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: pnpm md:lint, oxlint --fix

feat(garden): add jewel glints and shrine radiance
  src/components/client/garden/rendering/atmosphere.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: oxlint --fix

fix(garden): align webgl contact shadows with sprite feet
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: oxlint --fix

fix(garden): improve character nameplate readability
  src/components/client/garden/diorama.scss
  src/components/client/garden/rendering/webgl-engine.ts
Due: astro format, pnpm stylelint, oxlint --fix

style(garden): refine character nameplates
  src/components/client/garden/diorama.scss
  src/components/client/garden/rendering/webgl-engine.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): center nameplate text and simplify frames
  src/components/client/garden/diorama.scss
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add underwater koi motion and wakes
  src/components/client/garden/rendering/webgl-engine.ts
  tests/components/client/garden/rendering/webgl-engine.test.ts
Due: oxlint --fix

fix(garden): pluralize stone reward labels
  src/components/client/garden/world.tsx
Due: oxlint --fix

feat(garden): toggle lanterns on click
  src/components/client/garden/composables/use-game.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/composables/use-game.test.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat(garden): add tree gusts and stone spins on click
  src/components/client/garden/rendering/scene.ts
  src/components/client/garden/rendering/scenery-motion.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(garden): lift stones for axial spins and remove focus rings
  src/components/client/garden/rendering/scenery-motion.ts
  src/components/client/garden/rendering/webgl-engine.ts
  src/components/client/garden/world.scss
  src/components/client/garden/world.tsx
  tests/components/client/garden/rendering/webgl-engine.test.ts
  tests/visual/path-of-stones-webgl.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix
