Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

style(style): increase font size for mobile
  src/styles/global.css
Due: astro format, pnpm stylelint src/**/*.css

[Style] Increased font size for mobile
  src/styles/global.css
Due: astro format, pnpm stylelint src/**/*.css

feat(blog): add latest posts section
  src/components/LatestPosts.astro
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

[Blog] Added Latest Posts Section
  src/components/LatestPosts.astro
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

[Blog] Put back old articles
  .markdown-link-check.json
  src/components/LatestPosts.astro
  src/components/RecommendedPosts.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2014-06-17-google-translate-through-yql.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

chore(blog): restore back old articles
  .markdown-link-check.json
  src/components/LatestPosts.astro
  src/components/RecommendedPosts.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2014-06-17-google-translate-through-yql.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

[Blog] Fixed type
  .lintstagedrc
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

fix(blog): type
  .lintstagedrc
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

[Blog] Added Banner Customization
  .lintstagedrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2023-12-18-curiosity-beyond-technical-expertise.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

feat(blog): add banner customization
  .lintstagedrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2023-12-18-curiosity-beyond-technical-expertise.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

feat(site): add hidden section
  .editorconfig
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/images/DALL·E 2023-12-18 22.58.33 - An image representing a frontend developer with a theme of traditional Japan in watercolor style. The scene features a person of South As.png
  public/images/DALL·E 2023-12-18 23.05.40 - A minimalistic and straightforward depiction of a frontend developer with a Japanese theme, in a watercolor style. The image shows a pers.png
  public/images/DALL·E 2023-12-18 23.05.40 - A minimalistic and straightforward depiction of a frontend developer with a Japanese theme, in a watercolor style. The image shows a pers.psd
  public/images/DALL·E 2023-12-18 23.24.39 - A very simple watercolor-style image showing a frontend developer with a Japanese influence, depicted from behind. The person, with an et.png
  public/images/link.png
  public/images/rightarrow.png
  public/images/rss.png
  public/images/zazen-2.png
  public/images/zazen-2.webp
  src/components/Footer.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/RecommendedPosts.astro
  src/consts.ts
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2014-06-17-google-translate-through-yql.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/plugins/externalLink.ts
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

feat(blog): display latest posts only
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

[Blog] Display Latest posts only
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

fix(blog): recommanded posts
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

[Blog] Fixed recommanded posts
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint

[World] Renamed component
  src/components/Footer.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.css
  src/components/client/zazen.css
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/extra.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.mjs
Due: astro format, pnpm lint, pnpm stylelint src/**/*.css

refactor(world): rename component
  src/components/Footer.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.css
  src/components/client/zazen.css
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/extra.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.mjs
Due: astro format, pnpm lint, pnpm stylelint src/**/*.css

refactor(world): rename component
  src/components/Footer.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/global.css
  tailwind.config.mjs
Due: astro format, pnpm lint, pnpm stylelint src/**/*.css

chore(footer): update style
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm lint, pnpm stylelint src/**/*.css

[Footer] Up style
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm lint, pnpm stylelint src/**/*.css

chore(about): remove lazy loading
  src/pages/about.astro
Due: astro format, pnpm lint

[About] Remover lazy loading
  src/pages/about.astro
Due: astro format, pnpm lint

feat(blog): add weekly 18-19
  package.json
  pnpm-lock.yaml
  public/images/posts/ferenc-almasi-hMYODfDWs9M-unsplash.jpg
  public/images/posts/goran-ivos-idmvPhF8t4E-unsplash.jpg
  public/images/posts/headway-5QgIuuBxKwM-unsplash.jpg
  public/images/posts/nubelson-fernandes-gTs2w7bu3Qo-unsplash.jpg
  src/content/blog/2023-12-18-curiosity-beyond-technical-expertise.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm stylelint src/**/*.css

chore(readme): update
  README.md
Due: pnpm md:lint, pnpm md:check

[Readme] Up
  README.md
Due: pnpm md:lint, pnpm md:check

Path conditions:
  pnpm md:lint: any of: *.md
  pnpm md:check: any of: *.md
  astro format: (any of: *.astro) or (any of: *.css)
  pnpm lint: any of: *.astro
  pnpm stylelint src/**/*.css: any of: *.css
