Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): update new article
  src/content/blog/2025-03-23-gemini-flash-next-gen-img-pix-me.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 12
  src/content/blog/2025-03-24-frontend-weekly-digest-12.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 12
  src/content/blog/2025-03-24-frontend-weekly-digest-12.md
Due: pnpm md:lint, pnpm md:check

chore(deps): updated dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/content/blog/2025-03-24-frontend-weekly-digest-12.md
Due: pnpm md:lint, pnpm md:check

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/content/blog/2025-03-24-frontend-weekly-digest-12.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 19
  src/content/blog/2025-05-12-frontend-weekly-digest-19.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 19
  src/content/blog/2025-05-12-frontend-weekly-digest-19.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 21-23
  package-lock.json
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 21-23
  package-lock.json
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
Due: pnpm md:lint, pnpm md:check

docs(blog): update frontend weekly digest 23
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated frontend weekly digest 23
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add angular 20 article
  src/content/blog/2025-06-13-angular-20.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added angular 20 article
  src/content/blog/2025-06-13-angular-20.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest summer
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-frontend-weekly-digest-summer.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest summer
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-frontend-weekly-digest-summer.md
Due: pnpm md:lint, pnpm md:check

chore(deps): update astro and vite
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): updated astro and vite
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

docs(blog): update weekly digest summer
  src/content/blog/2025-frontend-weekly-digest-summer.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated weekly digest summer
  src/content/blog/2025-frontend-weekly-digest-summer.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added vibe reviewing article
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751634589187.jpg
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751650698622.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751651127829.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751651236397.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751897333288.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/ratatouille-vibe.png
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
  src/content/blog/2025-09-08-frontend-weekly-digest-summer.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

docs(blog): add vibe reviewing article
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751634589187.jpg
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751650698622.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751651127829.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751651236397.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/1751897333288.png
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/ratatouille-vibe.png
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
  src/content/blog/2025-09-08-frontend-weekly-digest-summer.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

feat(style): improve responsive
  src/consts.ts
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(style): improved responsive
  src/consts.ts
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): update article
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated article
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
Due: pnpm md:lint, pnpm md:check

docs(blog): update schema mermaid
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/mermaid-workflow.png
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated schema mermaid
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/mermaid-workflow.png
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
Due: pnpm md:lint, pnpm md:check

Path conditions:
  pnpm md:lint: any of: *.md
  pnpm md:check: any of: *.md
  astro format: (any of: *.css) or (any of: *.astro)
  pnpm stylelint: any of: *.css
  pnpm lint: any of: *.astro
  pnpm build: any of: *.astro
