Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

chore(ui): resize daily haiku card to 3:4
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm stylelint, oxlint --fix

docs(blog): add weekly digest 3
  package.json
  pnpm-lock.yaml
  public/images/posts/2025-11-28-frontend-observatory/dashboard.png
  public/images/posts/2025-11-28-frontend-observatory/marcel-component-distribution.png
  public/images/posts/2025-11-28-frontend-observatory/observatory-header.png
  public/images/posts/2025-11-28-frontend-observatory/starter-kit.png
  public/images/posts/2025-11-28-frontend-observatory/token-usage-category.png
  src/content/blog/2025-06-13-angular-20.md
  src/content/blog/2025-11-28-frontend-observatory-design-system-ast.md
  src/content/blog/2026-01-19-frontend-weekly-digest-3.md
Due: pnpm md:lint

feat(ui): refine animations and optimize card reveal timing
  .stylelintrc.json
  src/components/SocialNetworks.astro
  src/pages/blog.astro
  src/styles/global.scss
Due: astro format, pnpm stylelint, oxlint --fix

docs: fix markdown linting issues
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2014-06-17-google-translate-through-yql.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
  src/content/blog/2024-08-02-frontend-weekly-digest-31.md
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
  src/content/blog/2024-09-09-frontend-weekly-digest-36.md
  src/content/blog/2024-09-23-frontend-weekly-digest-38.md
  src/content/blog/2024-10-07-frontend-weekly-digest-40.md
  src/content/blog/2024-10-21-frontend-weekly-digest-42.md
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-02-10-frontend-weekly-digest-6.md
Due: pnpm md:lint

chore: improve zen card ui
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore(deps): updated dependencies
  package.json
  pnpm-lock.yaml
  scripts/optimize-images.mjs
  src/components/GlobalKeyboardNavigation.astro
  src/pages/tags/index.astro
Due: oxlint --fix

docs(blog): added new article
  public/images/posts/2026-01-27-when-two-frauds-make-a-truth/article-header.webp
  src/content/blog/2025-03-24-frontend-weekly-digest-12.md
  src/content/blog/2025-05-12-frontend-weekly-digest-19.md
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
  src/content/blog/2025-09-08-frontend-weekly-digest-summer.md
  src/content/blog/2025-09-29-frontend-weekly-digest-39.md
  src/content/blog/2026-01-27-when-two-frauds-make-a-truth.md
Due: pnpm md:lint

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

docs(blog): add new article
  public/images/posts/2026-02-26-shipped-feature-while-visiting-expo/josé-manuel-infante.webp
  src/content/blog/2026-02-26-shipped-feature-while-visiting-expo.md
Due: pnpm md:lint

feat: migrate to astro 6 and content layer
  .oxlintrc.jsonc
  astro.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/harmonize-digests.mjs
  scripts/optimize-images.mjs
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/BreadcrumbSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/content.config.ts
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
  src/styles/global.scss
  tests/utils/test-helpers.ts
  tests/visual/about.spec.ts
  tests/visual/projects.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat: migrate to astro 6 and content layer
  .oxlintrc.jsonc
  astro.config.mjs
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scripts/harmonize-digests.mjs
  scripts/optimize-images.mjs
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/BreadcrumbSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/use-text-reveal.ts
  src/components/client/world.scss
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/content.config.ts
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
  src/styles/global.scss
  tests/utils/test-helpers.ts
  tests/visual/about.spec.ts
  tests/visual/projects.spec.ts
Due: astro format, pnpm stylelint, oxlint --fix

feat: refactor styles and add dark mode
  .stylelintrc.json
  src/styles/_blog.scss
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_navigation.scss
  src/styles/_pages.scss
  src/styles/_reset.scss
  src/styles/_search.scss
  src/styles/_themes.scss
  src/styles/_tokens.scss
  src/styles/_zen.scss
  src/styles/global.scss
Due: astro format, pnpm stylelint

refactor: finalize formatting and fixes
  src/pages/blog/[...slug].astro
Due: oxlint --fix

refactor: minor fixes in header and themes
  .stylelintrc.json
  src/components/Header.astro
  src/styles/_themes.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: add smoke apparition and dissolve animation system
  .oxlintrc.jsonc
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/BreadcrumbSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/components/zen/ZenFade.astro
  src/components/zen/ZenHover.astro
  src/components/zen/ZenSlide.astro
  src/components/zen/ZenStagger.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/extra.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
  src/styles/_home.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

style: add smoke apparition and dissolve animation system
  .oxlintrc.jsonc
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/BreadcrumbSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/components/zen/ZenFade.astro
  src/components/zen/ZenHover.astro
  src/components/zen/ZenSlide.astro
  src/components/zen/ZenStagger.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/about.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/projects.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
  src/styles/_home.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add reusable smoke text reveal component
  src/components/client/zen-text-reveal.tsx
Due: oxlint --fix

refactor: extract header script into separate modules
  src/components/client/header-init.ts
  src/components/client/header-search-helpers.ts
  src/components/client/header-search.ts
Due: oxlint --fix

refactor: restructure zazen world into separate modules
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world-types.ts
  src/components/client/zazen-world.tsx
Due: oxlint --fix

docs(blog): up last article
  src/content/blog/2026-03-30-pix-who.md
Due: pnpm md:lint

ci: use node 22 version
  .github/workflows/astro-gh-pages.yml
Due: none
