Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

docs(blog): updated article
  src/content/blog/2024-09-04-semicolons-debate.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add frontend weekly digest 36
  eslint.config.js
  package.json
  pnpm-lock.yaml
  public/fonts/ComicNeue-Bold.ttf
  public/fonts/comic-neue-bold.woff2
  public/fonts/comic-neue.woff2
  public/images/background.webp
  public/images/ico_blog.jpg
  public/images/ico_contact.jpg
  public/images/ico_video.jpg
  src/components/Footer.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/consts.ts
  src/content/blog/2023-12-18-curiosity-beyond-technical-expertise.md
  src/content/blog/2024-05-15-javascript-perf-array.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
  src/content/blog/2024-09-04-semicolons-debate.md
  src/content/blog/2024-09-09-frontend-weekly-digest-36.md
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): added frontend weekly digest 36
  eslint.config.js
  package.json
  pnpm-lock.yaml
  public/fonts/ComicNeue-Bold.ttf
  public/fonts/comic-neue-bold.woff2
  public/fonts/comic-neue.woff2
  public/images/background.webp
  public/images/ico_blog.jpg
  public/images/ico_contact.jpg
  public/images/ico_video.jpg
  src/components/Footer.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/consts.ts
  src/content/blog/2023-12-18-curiosity-beyond-technical-expertise.md
  src/content/blog/2024-05-15-javascript-perf-array.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
  src/content/blog/2024-09-04-semicolons-debate.md
  src/content/blog/2024-09-09-frontend-weekly-digest-36.md
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): added new article
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1518644730709-0835105d9daa.webp
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1541178735493-479c1a27ed24.webp
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1573497491208-6b1acb260507.webp
  src/components/BaseHead.astro
  src/content/blog/2024-09-10-beyond-script-reinventing-interview.md
  src/pages/index.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

docs(blog): add new article
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1518644730709-0835105d9daa.webp
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1541178735493-479c1a27ed24.webp
  public/images/posts/2024-09-10-beyond-script-reinventing-interview/photo-1573497491208-6b1acb260507.webp
  src/components/BaseHead.astro
  src/content/blog/2024-09-10-beyond-script-reinventing-interview.md
  src/pages/index.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore(head): add meta title props
  src/components/BaseHead.astro
  src/content/blog/2024-09-10-beyond-script-reinventing-interview.md
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/index.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore(head): added meta title props
  src/components/BaseHead.astro
  src/content/blog/2024-09-10-beyond-script-reinventing-interview.md
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/index.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore(head): added meta title for twitter:title
  src/components/BaseHead.astro
Due: astro format, pnpm lint, pnpm build

chore(head): add meta title for twitter:title
  src/components/BaseHead.astro
Due: astro format, pnpm lint, pnpm build

chore(about): add handshake animation
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
  src/pages/blog.astro
Due: astro format, pnpm lint, pnpm build

chore(about): added handshake animation
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
  src/pages/blog.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): add weekly digest 37-38
  src/content/blog/2024-09-23-frontend-weekly-digest-38.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 37-38
  src/content/blog/2024-09-23-frontend-weekly-digest-38.md
Due: pnpm md:lint, pnpm md:check

chore(blog): enlarged date width
  src/pages/blog.astro
  src/pages/index.astro
Due: astro format, pnpm lint, pnpm build

chore(footer): renamed linkfolio
  src/components/Footer.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): added frontend weekly 40
  public/images/posts/2024-10-07-frontend-weekly-digest-40/elon.jpg
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-10-07-frontend-weekly-digest-40.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add frontend weekly 40
  public/images/posts/2024-10-07-frontend-weekly-digest-40/elon.jpg
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-10-07-frontend-weekly-digest-40.md
Due: pnpm md:lint, pnpm md:check

feat(blog): add social share component
  package.json
  pnpm-lock.yaml
  src/components/SocialShare.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
Due: astro format, pnpm lint, pnpm build

feat(blog): added social share component
  package.json
  pnpm-lock.yaml
  src/components/SocialShare.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): add frontend weekly digest 41-42
  package.json
  pnpm-lock.yaml
  public/images/posts/2024-10-21-frontend-weekly-digest-42/rocket.jpg
  src/content/blog/2024-10-21-frontend-weekly-digest-42.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added frontend weekly digest 41-42
  package.json
  pnpm-lock.yaml
  public/images/posts/2024-10-21-frontend-weekly-digest-42/rocket.jpg
  src/content/blog/2024-10-21-frontend-weekly-digest-42.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 43-44
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 43-44
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add frontend weekly digest 46
  public/images/posts/2024-11-18-frontend-weekly-digest-46/sausage.webp
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added frontend weekly digest 46
  public/images/posts/2024-11-18-frontend-weekly-digest-46/sausage.webp
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
Due: pnpm md:lint, pnpm md:check
