Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): add sticky menu
  .husky/pre-commit
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.css
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): added sticky menu
  .husky/pre-commit
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.css
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): add sticky menu
  .husky/pre-commit
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/components/FormattedDate.astro
  src/components/Header.astro
  src/components/HeaderLink.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): improved transition pages
  astro.config.mjs
  src/components/Footer.astro
  src/components/SocialNetworks.astro
  src/consts.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): improve transition pages
  astro.config.mjs
  src/components/Footer.astro
  src/components/SocialNetworks.astro
  src/consts.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): use cards for blog page
  src/pages/blog.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): edit text footer
  src/components/Footer.astro
Due: astro format, pnpm lint, pnpm build

feat(ui): edited text footer
  src/components/Footer.astro
Due: astro format, pnpm lint, pnpm build

feat(ui): harmonized cards
  src/components/SocialNetworks.astro
  src/pages/blog.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): harmonize cards
  src/components/SocialNetworks.astro
  src/pages/blog.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): uniformize spacing
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/consts.ts
  src/pages/about.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(assets): update banner
  public/icons/custom.svg
  public/images/og-zazen.png
  public/images/og-zazen.webp
  public/images/zazen-3.png
  public/images/zazen-header.png
  public/images/zazen-header.webp
  public/images/zazen.png
  src/components/Footer.astro
  src/components/Header.astro
  src/consts.ts
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(assets): updated banner
  public/icons/custom.svg
  public/images/og-zazen.png
  public/images/og-zazen.webp
  public/images/zazen-3.png
  public/images/zazen-header.png
  public/images/zazen-header.webp
  public/images/zazen.png
  src/components/Footer.astro
  src/components/Header.astro
  src/consts.ts
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): reduce shadow size
  public/icons/custom.svg
  src/styles/global.css
Due: astro format, pnpm stylelint

chore(deps): updated react version
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update react version
  package.json
  pnpm-lock.yaml
Due: none

fix(ui): responsive mobile menu
  src/components/Header.astro
  src/pages/about.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): fixed responsive mobile menu
  src/components/Header.astro
  src/pages/about.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(article): add more y space for final blockquote
  src/components/Footer.astro
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(article): adding more y space for final blockquote
  src/components/Footer.astro
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): texts zenification
  src/components/Footer.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): remove italic style
  src/styles/global.css
Due: astro format, pnpm stylelint

Path conditions:
  pnpm md:lint: any of: *.md
  pnpm md:check: any of: *.md
  astro format: (any of: *.css) or (any of: *.astro)
  pnpm stylelint: any of: *.css
  pnpm lint: any of: *.astro
  pnpm build: any of: *.astro
