Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

docs(blog): change routing for last article
  src/content/blog/2026-03-30-pix-who-the-pix-me-universe-is-expanding.md
  src/styles/_header.scss
Due: pnpm md:lint, astro format, pnpm stylelint

feat: improve smoke animation with breathe and settled states
  src/components/Header.astro
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-text-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore: update lint config and fix lint warnings
  oxlintrc.json
  package.json
Due: none

chore: update lint config and fix lint warnings
  oxlintrc.json
  package.json
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world-types.ts
Due: oxlint --fix

refactor: extract text reveal hooks and haiku dissolve logic
  src/components/client/haiku-dissolve.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/client/zen-text-reveal.tsx
  src/components/client/zen-title-reveal.tsx
  src/pages/index.astro
  src/styles/_home.scss
Due: astro format, pnpm stylelint, oxlint --fix

chore: remove all eslint-disable comments
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/client/haiku-dissolve.ts
  src/components/client/header-search-helpers.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-text-reveal.ts
  src/components/client/zen-haiku-reveal.tsx
  src/components/zen/ZenFade.astro
  src/components/zen/ZenSlide.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/Layout.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
Due: oxlint --fix

chore: remove all eslint-disable comments
  src/components/BaseHead.astro
  src/components/BlogPostSchema.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/client/haiku-dissolve.ts
  src/components/client/header-search-helpers.ts
  src/components/client/text-reveal-hooks.ts
  src/components/client/use-text-reveal.ts
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world-types.ts
  src/components/client/zazen-world.tsx
  src/components/client/zen-haiku-reveal.tsx
  src/components/zen/ZenFade.astro
  src/components/zen/ZenSlide.astro
  src/consts.ts
  src/content.config.ts
  src/layouts/Layout.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/pages/tags/[tag].astro
  src/pages/tags/index.astro
  src/plugins/externalLink.ts
Due: oxlint --fix

fix: clean up text reveal hooks and zen animation styles
  src/components/client/text-reveal-hooks.ts
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat(seo): add article tags meta and twitter creator
  src/components/BaseHead.astro
  src/layouts/Layout.astro
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

feat(seo): add structured data for person and website
  src/pages/about.astro
  src/pages/index.astro
Due: oxlint --fix

fix(seo): move schema to head and update blog description
  src/layouts/Layout.astro
  src/pages/blog.astro
  src/pages/index.astro
Due: oxlint --fix

fix(seo): pass about schema via layout prop
  src/pages/about.astro
Due: oxlint --fix

style: add semantic surface, border, and shadow tokens
  src/styles/_tokens.scss
Due: astro format, pnpm stylelint

refactor(styles): migrate raw colors to semantic design tokens
  src/styles/_blog.scss
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_navigation.scss
  src/styles/_pages.scss
  src/styles/_reset.scss
  src/styles/_search.scss
Due: astro format, pnpm stylelint

refactor: clean up header template and layout props
  src/components/Header.astro
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

refactor: clean up header template and layout props
  src/components/Header.astro
  src/components/client/zazen-world.tsx
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
Due: oxlint --fix

fix: improve haiku dissolve touch handling
  src/components/client/haiku-dissolve.ts
  src/components/client/zen-haiku-reveal.tsx
Due: oxlint --fix

feat: add webp banner and about page enhancements
  public/images/zazen.webp
  src/components/BaseHead.astro
  src/pages/about.astro
Due: oxlint --fix

fix: suppress link underline on buttons and improve post list hover
  src/pages/index.astro
  src/styles/_home.scss
  src/styles/_reset.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: redesign social network cards with project variant
  src/components/SocialNetworks.astro
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: refine header, search, and link underline styles
  src/components/Header.astro
  src/styles/_header.scss
  src/styles/_reset.scss
  src/styles/_search.scss
Due: astro format, pnpm stylelint, oxlint --fix

a11y: add focus-visible outlines and improve hover states
  src/styles/_blog.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_navigation.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint

feat: add magnetic nav highlight effect
  src/components/Header.astro
  src/components/client/header-init.ts
  src/styles/_header.scss
Due: astro format, pnpm stylelint, oxlint --fix
