Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

feat(ui): remove italic style
  src/styles/global.css
Due: astro format, pnpm stylelint

feat(ui): removed italic style
  src/styles/global.css
Due: astro format, pnpm stylelint

chore: use scss
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/global.scss
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

chore: use scss
  package.json
  pnpm-lock.yaml
  src/components/BaseHead.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.css
  src/components/client/world.scss
  src/layouts/Layout.astro
  src/styles/global.css
  src/styles/global.scss
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

fix: zazen world render
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

fix: zazen world render
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat: fix zazen world render
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): improve a11y
  package.json
  pnpm-lock.yaml
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): improve a11y
  package.json
  pnpm-lock.yaml
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): improved a11y
  package.json
  pnpm-lock.yaml
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

fix(ui): menu in mobile responsive
  src/components/Header.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): fixed menu in mobile responsive
  src/components/Header.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

chore: migrated from eslint to oxlint
  .lintstagedrc
  .oxlintrc.jsonc
  README.md
  astro.config.mjs
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.scss
  tsconfig.json
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore: migrate from eslint to oxlint
  .lintstagedrc
  .oxlintrc.jsonc
  README.md
  astro.config.mjs
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/components/client/ZazenWorld.tsx
  src/components/client/world.scss
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.scss
  tsconfig.json
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore: migrate from eslint to oxlint
  .lintstagedrc
  .oxlintrc.jsonc
  README.md
  astro.config.mjs
  eslint.config.js
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.astro
  src/components/GlobalKeyboardNavigation.astro
  src/components/Header.astro
  src/components/RecommendedPosts.astro
  src/components/SocialNetworks.astro
  src/components/SocialShare.astro
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2014-02-09-extjs-with-symfony-part2.md
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2025-06-10-frontend-weekly-digest-23.md
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/api/search-posts.json.ts
  src/pages/blog.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/rss.xml.js
  src/styles/global.scss
  tsconfig.json
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore: fixed build
  .husky/pre-commit
  astro.config.mjs
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat(ui): added animations
  src/components/zen/ZenFade.astro
  src/components/zen/ZenHover.astro
  src/components/zen/ZenSlide.astro
  src/components/zen/ZenStagger.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): added parralax
  public/images/previous-zazen.webp
  public/images/zazen-2.png
  public/images/zazen-2.webp
  public/images/zazen-3.png
  public/images/zazen-header.png
  public/images/zazen-header.webp
  src/components/Header.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): reduced a bit height banner
  src/styles/global.scss
Due: none

feat(ui): refine banner appearance and interactions
  package.json
  pnpm-lock.yaml
  src/styles/global.scss
Due: none

feat(ui): refine animations and optimize card reveal timing
  .stylelintrc.json
  src/components/SocialNetworks.astro
  src/pages/blog.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

chore(ui): resize daily haiku card to 3:4
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

feat(ui): reduce a bit height banner
  src/styles/global.scss
Due: none

feat(ui): add parallax
  public/images/previous-zazen.webp
  public/images/zazen-2.png
  public/images/zazen-2.webp
  public/images/zazen-3.png
  public/images/zazen-header.png
  public/images/zazen-header.webp
  src/components/Header.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

fix(layout): resolve type errors
  .husky/pre-commit
  astro.config.mjs
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat(ui): add animations
  src/components/zen/ZenFade.astro
  src/components/zen/ZenHover.astro
  src/components/zen/ZenSlide.astro
  src/components/zen/ZenStagger.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build

docs(blog): add weekly digest 3
  package.json
  pnpm-lock.yaml
  public/images/posts/2025-11-28-frontend-observatory/dashboard.png
  public/images/posts/2025-11-28-frontend-observatory/marcel-component-distribution.png
  public/images/posts/2025-11-28-frontend-observatory/observatory-header.png
  public/images/posts/2025-11-28-frontend-observatory/starter-kit.png
  public/images/posts/2025-11-28-frontend-observatory/token-usage-category.png
  src/content/blog/2025-06-13-angular-20.md
  src/content/blog/2025-11-28-frontend-observatory-design-system-ast.md
  src/content/blog/2026-01-19-frontend-weekly-digest-3.md
Due: pnpm md:lint, pnpm md:check

docs: fix markdown linting issues
  src/content/blog/2014-02-21-extjs-with-symfony-i18n.md
  src/content/blog/2014-06-17-google-translate-through-yql.md
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
  src/content/blog/2024-08-02-frontend-weekly-digest-31.md
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
  src/content/blog/2024-09-09-frontend-weekly-digest-36.md
  src/content/blog/2024-09-23-frontend-weekly-digest-38.md
  src/content/blog/2024-10-07-frontend-weekly-digest-40.md
  src/content/blog/2024-10-21-frontend-weekly-digest-42.md
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
  src/content/blog/2024-11-18-frontend-weekly-digest-46.md
  src/content/blog/2025-01-27-frontend-weekly-digest-4.md
  src/content/blog/2025-02-10-frontend-weekly-digest-6.md
Due: pnpm md:lint, pnpm md:check

chore: improve zen card ui
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
  src/styles/global.scss
Due: astro format, pnpm lint, pnpm build
