Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat(footer): add animated ink landscape
  docs/superpowers/plans/2026-09-21-zen-footer-scene.md
  src/components/Footer.astro
  src/components/FooterScene.astro
  src/styles/_layout.scss
  src/styles/_tokens.scss
  tests/astro/footer-scene.test.ts
  tests/astro/vitest.config.ts
  tests/components/footer-scene-script.test.ts
  tests/visual/about.spec.ts-snapshots/about-desktop-full-page-Mobile-Chrome-darwin.png
  tests/visual/about.spec.ts-snapshots/about-desktop-full-page-chromium-darwin.png
  tests/visual/about.spec.ts-snapshots/about-desktop-viewport-Mobile-Chrome-darwin.png
  tests/visual/about.spec.ts-snapshots/about-desktop-viewport-chromium-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-listing-desktop-full-page-Mobile-Chrome-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-listing-desktop-viewport-Mobile-Chrome-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-listing-desktop-viewport-chromium-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-post-desktop-full-page-Mobile-Chrome-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-post-desktop-full-page-chromium-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-post-desktop-viewport-Mobile-Chrome-darwin.png
  tests/visual/blog.spec.ts-snapshots/blog-post-desktop-viewport-chromium-darwin.png
  tests/visual/homepage.spec.ts-snapshots/homepage-desktop-full-page-Mobile-Chrome-darwin.png
  tests/visual/homepage.spec.ts-snapshots/homepage-desktop-full-page-chromium-darwin.png
  tests/visual/homepage.spec.ts-snapshots/homepage-desktop-viewport-Mobile-Chrome-darwin.png
  tests/visual/homepage.spec.ts-snapshots/homepage-desktop-viewport-chromium-darwin.png
  tests/visual/projects.spec.ts-snapshots/projects-desktop-full-page-Mobile-Chrome-darwin.png
  tests/visual/projects.spec.ts-snapshots/projects-desktop-full-page-chromium-darwin.png
  tests/visual/projects.spec.ts-snapshots/projects-desktop-viewport-Mobile-Chrome-darwin.png
  tests/visual/projects.spec.ts-snapshots/projects-desktop-viewport-chromium-darwin.png
  tests/visual/projects.spec.ts-snapshots/projects-mobile-viewport-Mobile-Chrome-darwin.png
  vitest.config.ts
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

feat(footer): animate transparent portrait
  package.json
  pnpm-lock.yaml
  public/images/footer-portrait/portrait-transparent.webp
  src/components/Footer.astro
  src/components/FooterPortrait.astro
  src/components/client/footer-portrait-renderer.ts
  src/components/client/footer-portrait.ts
  src/styles/_layout.scss
  tests/components/footer-portrait.test.ts
Due: astro format, pnpm stylelint, oxlint --fix

fix(footer): soften landscape edges
  src/styles/_layout.scss
Due: astro format, pnpm stylelint

test(footer): allow astro source attributes
  tests/astro/footer-scene.test.ts
Due: oxlint --fix

chore(deps): bump astro packages
  package.json
  pnpm-lock.yaml
Due: none

fix(projects): close bento rows without cropping
  src/components/SocialNetworks.astro
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat(footer): repaint landscape with ink brushwork
  src/components/FooterScene.astro
  src/styles/_layout.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat(footer): add stroke generators
  package.json
  scripts/footer-scene/brush.mjs
  scripts/footer-scene/generate.mjs
  src/components/FooterScene.astro
  src/components/footer-scene-strokes.json
  tests/footer-scene-strokes.test.ts
Due: oxlint --fix

chore(deps): update dependencies
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

chore: ignore local experiment output
  .gitignore
Due: none

perf(pretext): batch tag measurement and scope text reveal layout
  packages/ui/src/text-reveal-hooks.ts
  packages/ui/src/text-reveal.tsx
  src/components/client/zen-tag-cloud.tsx
Due: oxlint --fix

feat(ui): speed up title reveals and fast-forward on hover
  packages/ui/src/text-reveal-motion.ts
  packages/ui/src/text-reveal.tsx
  packages/ui/tests/zen-text-reveal.test.tsx
  src/components/client/zen-title-reveal.tsx
Due: oxlint --fix

perf: trim listeners, layout reads and banner weight
  src/assets/zazen.webp
  src/components/Header.astro
  src/components/SocialNetworks.astro
  src/components/client/footer-portrait.ts
  src/components/client/header-init.ts
  src/components/client/zen-haiku-reveal.tsx
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/styles/_header.scss
Due: astro format, pnpm stylelint, oxlint --fix
