Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

docs(blog): update schema mermaid
  public/images/posts/2025-09-08-exit-vibe-coding--enter-vibe-reviewing/mermaid-workflow.png
  src/content/blog/2025-09-08-exit-vibe-coding--enter-vibe-reviewing.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added mcp design system article
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/c4-kit.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/jfrog.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/login-form.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/marcel.png
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add mcp design system article
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/c4-kit.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/jfrog.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/login-form.png
  public/images/posts/2025-09-10-mcp-design-system-carrefour-marcel/marcel.png
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
Due: pnpm md:lint, pnpm md:check

docs(blog); updated article
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

docs(blog): update article
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

chore(recommanded): updated style
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint, pnpm build

chore(recommanded): update style
  src/components/RecommendedPosts.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): update titles styles
  src/components/RecommendedPosts.astro
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): updated titles styles
  src/components/RecommendedPosts.astro
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

docs(blog): update article
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
Due: pnpm md:lint, pnpm md:check

docs(blog): updated article
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
Due: pnpm md:lint, pnpm md:check

chore(css): update header style
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

chore(css): updated header style
  src/content/blog/2025-09-10-mcp-design-system-carrefour-marcel.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

docs(blog): add frontend weekly digest 39
  src/content/blog/2025-09-29-frontend-weekly-digest-39.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added frontend weekly digest 39
  src/content/blog/2025-09-29-frontend-weekly-digest-39.md
Due: pnpm md:lint, pnpm md:check

feat(ui): update css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/SocialNetworks.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): updated css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/SocialNetworks.astro
  src/components/client/ZazenWorld.tsx
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): update css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/SocialNetworks.astro
  src/components/client/ZazenWorld.tsx
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): add lucide icons
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/icons/feather.svg
  public/images/layout.png
  public/images/layout_content.png
  src/components/Footer.astro
  src/components/Icon.astro
  src/components/SocialShare.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): added lucide icons
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/icons/feather.svg
  public/images/layout.png
  public/images/layout_content.png
  src/components/Footer.astro
  src/components/Icon.astro
  src/components/SocialShare.astro
  src/pages/about.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/pages/projects.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): handle better a11y
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Icon.astro
  src/layouts/Layout.astro
  src/pages/blog.astro
  src/pages/index.astro
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): improved ui footer
  public/icons/bluesky.svg
  public/icons/feather.svg
  public/icons/github.svg
  public/icons/linkedin.svg
  public/icons/x-twitter.svg
  src/components/Footer.astro
  src/components/SocialShare.astro
  src/consts.ts
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build

feat(ui): improve ui footer
  public/icons/bluesky.svg
  public/icons/feather.svg
  public/icons/github.svg
  public/icons/linkedin.svg
  public/icons/x-twitter.svg
  src/components/Footer.astro
  src/components/SocialShare.astro
  src/consts.ts
  src/styles/global.css
Due: astro format, pnpm stylelint, pnpm lint, pnpm build
