Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat: add native share button
  public/icons/share.svg
  src/components/SocialShare.astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add gemini cli subagents blog posts
  public/images/posts/2026-04-08-gemini-cli-subagents/gemini_cli_subagents_context_saving.svg
  public/images/posts/2026-04-08-gemini-cli-subagents/poster.webp
  src/content/blog/2026-04-08-gemini-cli-subagents-context-window.md
  src/content/blog/2026-04-08-stop-treating-context-window-like-infinite-ram.md
Due: pnpm md:lint

refactor: simplify share button logic with early returns
  src/components/SocialShare.astro
Due: oxlint --fix

feat: polish blog post page share and recommended section
  src/content/blog/2026-04-08-stop-treating-context-window-like-infinite-ram.md
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
  src/styles/_pages.scss
Due: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

fix: remove useless spread in tag counts calculation
  src/pages/tags/index.astro
Due: oxlint --fix

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: include tags in search and update constants
  src/components/client/header-search-helpers.ts
  src/components/client/header-search.ts
  src/consts.ts
  src/pages/api/search-posts.json.ts
Due: oxlint --fix

feat: enhance 404 page with new layout and redirect logic
  src/pages/404.astro
Due: oxlint --fix

feat: add reading progress and scroll to top to post page
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: enhance blog listing with tags and better date formatting
  src/pages/blog.astro
Due: oxlint --fix

feat: improve tag archive page with new UI and date formatting
  src/pages/tags/[tag].astro
Due: oxlint --fix

style: refine layout spacing, header navigation, and search UI
  src/pages/index.astro
  src/styles/_header.scss
  src/styles/_home.scss
  src/styles/_layout.scss
  src/styles/_reset.scss
  src/styles/_search.scss
  src/styles/_tokens.scss
Due: astro format, pnpm stylelint, oxlint --fix

fix: polish share button styles and add haiku skeleton loader
  public/icons/share.svg
  src/components/client/zen-haiku-reveal.tsx
  src/styles/_pages.scss
  src/styles/_zen.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat: add Buy Me a Coffee component to about page
  src/components/client/BuyMeCoffee.tsx
  src/consts.ts
  src/pages/about.astro
Due: oxlint --fix

fix: integrate reading progress with sticky nav and polish layout
  src/components/client/BuyMeCoffee.tsx
  src/pages/blog/[...slug].astro
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

docs: refine word choice and phrasing across older blog posts
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-21-state-of-js.md
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-09-conventional-commit-jira.md
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
  src/content/blog/2024-09-09-frontend-weekly-digest-36.md
  src/content/blog/2024-09-10-beyond-script-reinventing-interview.md
  src/content/blog/2024-09-23-frontend-weekly-digest-38.md
  src/content/blog/2024-10-07-frontend-weekly-digest-40.md
  src/content/blog/2024-11-04-frontend-weekly-digest-44.md
  src/content/blog/2025-03-04-future-of-js-key-features.md
Due: pnpm md:lint

docs: update gemini cli subagents post with latest features and wording
  src/content/blog/2026-04-08-gemini-cli-subagents-context-window.md
Due: pnpm md:lint

docs: rename gemini cli subagents post to 2026-04-09
  public/images/posts/2026-04-09-gemini-cli-subagents/gemini_cli_subagents_context_saving.svg
  public/images/posts/2026-04-09-gemini-cli-subagents/poster.webp
  src/content/blog/2026-04-09-gemini-cli-subagents-context-window.md
Due: pnpm md:lint

style: enhance reading progress bar and scroll-to-top button
  src/styles/_blog.scss
Due: astro format, pnpm stylelint

feat: refine post navigation UI and arrows layout
  src/pages/blog/[...slug].astro
  src/styles/_navigation.scss
Due: astro format, pnpm stylelint, oxlint --fix
