Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, astro format, pnpm stylelint, oxlint --fix

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint"
    ],
    "*.{css,scss}": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.{js,mjs,cjs,jsx,ts,mts,cts,tsx,astro}": [
        "oxlint --fix"
    ]
}

feat(blog): render mermaid diagrams to inline svg
  astro.config.mjs
  src/styles/_blog.scss
Due: astro format, pnpm stylelint, oxlint --fix

feat(analytics): migrate from beam to ga4 behind consent mode
  .github/workflows/astro-gh-pages.yml
  src/components/BaseHead.astro
Due: oxlint --fix

feat(analytics): add the cookie consent bar
  src/components/CookieConsent.astro
  src/layouts/Layout.astro
  src/pages/index.astro
Due: oxlint --fix

chore(deps): add rehype-mermaid and bump astro to 7.2.2
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(tests): drop null from the external-link href type
  tests/plugins/external-link.test.ts
Due: oxlint --fix

fix(analytics): load ga only after consent
  src/components/BaseHead.astro
  src/components/CookieConsent.astro
Due: oxlint --fix

fix(ci): install chromium so mermaid renders, and verify the build
  .github/workflows/astro-gh-pages.yml
  package.json
  scripts/verify-build.mjs
Due: oxlint --fix

fix(ci): let the astro action own the pnpm cache
  .github/workflows/astro-gh-pages.yml
Due: none

fix(ci): build with explicit steps instead of the astro action
  .github/workflows/astro-gh-pages.yml
Due: none

style(analytics): give the consent bar material depth and press feedback
  src/components/CookieConsent.astro
Due: oxlint --fix

docs(readme): note astro 7 and mermaid diagrams
  README.md
Due: pnpm md:lint

style(analytics): reword the consent bar in the site voice
  src/components/CookieConsent.astro
Due: oxlint --fix

fix(projects): stop featured tiles stretching to their grid span
  src/styles/_pages.scss
Due: astro format, pnpm stylelint

docs(about): update bio to chapter lead / principal engineer
  src/pages/about.astro
Due: oxlint --fix

feat(analytics): add privacy-first title and footer consent shortcut
  src/components/CookieConsent.astro
  src/components/Footer.astro
Due: oxlint --fix

feat: add a self-hosted Umami analytics adapter
  .env.example
  src/analytics.ts
  src/components/BaseHead.astro
  src/components/Footer.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  tests/analytics.test.ts
Due: oxlint --fix

fix: make the Umami switch reachable, and complete for the visitor
  .github/workflows/astro-gh-pages.yml
  src/analytics.ts
  src/components/BaseHead.astro
  tests/analytics.test.ts
Due: oxlint --fix

docs: say what Umami keeps off the device, not what it stores
  .env.example
  src/components/BaseHead.astro
  tests/analytics.test.ts
Due: oxlint --fix

feat: offer Cloudflare Web Analytics as a third tracker
  .env.example
  src/analytics.ts
  src/components/BaseHead.astro
  src/env.d.ts
  tests/analytics.test.ts
Due: oxlint --fix

feat: drop Google Analytics and Umami, keep only the Cloudflare beacon
  .env.example
  .github/workflows/astro-gh-pages.yml
  src/analytics.ts
  src/components/BaseHead.astro
  src/components/CookieConsent.astro
  src/components/Footer.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  tests/analytics.test.ts
Due: oxlint --fix

feat: use cloudflare beacon, drop consent bar
  .env.example
  .github/workflows/astro-gh-pages.yml
  src/analytics.ts
  src/components/BaseHead.astro
  src/components/CookieConsent.astro
  src/components/Footer.astro
  src/env.d.ts
  src/layouts/Layout.astro
  src/pages/index.astro
  tests/analytics.test.ts
Due: oxlint --fix

chore(deps): bump astro, tooling and test deps
  package.json
  pnpm-lock.yaml
Due: none

feat(garden): add the isometric board and its rules
  src/components/client/zazen-garden-types.ts
  src/components/client/zazen-rng.ts
  src/components/client/zazen-stones.ts
  src/components/client/zazen-world-geometry.ts
  src/components/client/zazen-world-helpers.ts
  src/components/client/zazen-world-rules.ts
  src/components/client/zazen-world-terrain.ts
  src/components/client/zazen-world-types.ts
  tests/components/client/zazen-rng.test.ts
  tests/components/client/zazen-world-geometry.test.ts
  tests/components/client/zazen-world-helpers.test.ts
  tests/components/client/zazen-world-rules.test.ts
  tests/components/client/zazen-world-terrain.test.ts
Due: oxlint --fix
