Repository heristop/heristop.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint, pnpm lint, pnpm build

.lintstagedrc:

{
    "*.md": [
        "pnpm md:lint",
        "pnpm md:check"
    ],
    "*.css": [
        "astro format",
        "pnpm stylelint"
    ],
    "*.astro": [
        "astro format",
        "pnpm lint",
        "pnpm build"
    ]
}

docs(blog): add conventional commit article
  .lintstagedrc
  package.json
  public/images/posts/2024-07-09-conventional-commit-jira/banner.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/githook.webp
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab-2.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitmessage.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/hook.png
  public/images/posts/2024-07-09-conventional-commit-jira/jira.png
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-09-conventional-commit-jira.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added conventional commit article
  .lintstagedrc
  package.json
  public/images/posts/2024-07-09-conventional-commit-jira/banner.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/githook.webp
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab-2.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitlab.png
  public/images/posts/2024-07-09-conventional-commit-jira/gitmessage.jpg
  public/images/posts/2024-07-09-conventional-commit-jira/hook.png
  public/images/posts/2024-07-09-conventional-commit-jira/jira.png
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-09-conventional-commit-jira.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 27-28
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 27-28
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
Due: pnpm md:lint, pnpm md:check

docs(blog): addes weekly digest 29-30
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
Due: pnpm md:lint, pnpm md:check

docs(about): update description
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

docs(about): updated description
  package.json
  pnpm-lock.yaml
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): add weekly digests 31 & 32
  pnpm-lock.yaml
  public/images/posts/2024-08-02-frontend-weekly-digest-31/surfer.jpg
  public/images/posts/2024-08-09-frontend-weekly-digest-32/swimmers.jpg
  src/consts.ts
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
  src/content/blog/2024-08-02-frontend-weekly-digest-31.md
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digests 31 & 32
  pnpm-lock.yaml
  public/images/posts/2024-08-02-frontend-weekly-digest-31/surfer.jpg
  public/images/posts/2024-08-09-frontend-weekly-digest-32/swimmers.jpg
  src/consts.ts
  src/content/blog/2023-11-11-frontend-weekly-digest-45.md
  src/content/blog/2023-11-17-frontend-weekly-digest-46.md
  src/content/blog/2023-11-24-frontend-weekly-digest-47.md
  src/content/blog/2023-12-01-frontend-weekly-digest-48.md
  src/content/blog/2023-12-08-frontend-weekly-digest-49.md
  src/content/blog/2023-12-15-frontend-weekly-digest-50.md
  src/content/blog/2024-01-04-frontend-weekly-digest-1.md
  src/content/blog/2024-01-12-frontend-weekly-digest-2.md
  src/content/blog/2024-02-05-frontend-weekly-digest-5.md
  src/content/blog/2024-02-19-frontend-weekly-digest-7.md
  src/content/blog/2024-03-04-frontend-weekly-digest-9.md
  src/content/blog/2024-03-15-frontend-weekly-digest-11.md
  src/content/blog/2024-03-29-frontend-weekly-digest-13.md
  src/content/blog/2024-04-12-frontend-weekly-digest-15.md
  src/content/blog/2024-04-26-frontend-weekly-digest-17.md
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-05-23-frontend-weekly-digest-21.md
  src/content/blog/2024-06-07-frontend-weekly-digest-23.md
  src/content/blog/2024-06-21-frontend-weekly-digest-25.md
  src/content/blog/2024-06-28-frontend-weekly-digest-26.md
  src/content/blog/2024-07-12-frontend-weekly-digest-28.md
  src/content/blog/2024-07-26-frontend-weekly-digest-30.md
  src/content/blog/2024-08-02-frontend-weekly-digest-31.md
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
Due: pnpm md:lint, pnpm md:check

docs(blog): add weekly digest 33-34
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added weekly digest 33-34
  package.json
  pnpm-lock.yaml
  src/content/blog/2024-08-09-frontend-weekly-digest-32.md
  src/content/blog/2024-08-26-frontend-weekly-digest-34.md
Due: pnpm md:lint, pnpm md:check

chore(footer): update role
  src/consts.ts
Due: none

chore(footer): updated role
  src/consts.ts
Due: none

docs(blog): add pix me article
  package.json
  pnpm-lock.yaml
  public/images/posts/og-pix-me.jpg
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-08-30-pix-me-studio.md
Due: pnpm md:lint, pnpm md:check

docs(blog): added pix me article
  package.json
  pnpm-lock.yaml
  public/images/posts/og-pix-me.jpg
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/content/blog/2024-08-30-pix-me-studio.md
Due: pnpm md:lint, pnpm md:check

chore: add sitemap
  public/sitemap.xml
Due: none

chore: added sitemap
  public/sitemap.xml
Due: none

chore(about): updated role
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

chore(about): update role
  src/pages/about.astro
Due: astro format, pnpm lint, pnpm build

docs(blog): added semicolons article
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2024-09-04-semicolons-debate.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

docs(blog): add semicolons article
  src/content/blog/2014-02-04-extjs-with-symfony-part1.md
  src/content/blog/2024-09-04-semicolons-debate.md
  src/styles/global.css
Due: pnpm md:lint, pnpm md:check, astro format, pnpm stylelint

chore(about): updated company
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/pages/about.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

chore(about): update company
  src/content/blog/2024-05-13-frontend-weekly-digest-19.md
  src/pages/about.astro
Due: pnpm md:lint, pnpm md:check, astro format, pnpm lint, pnpm build

docs(blog): updated article
  src/content/blog/2024-08-30-pix-me-studio.md
Due: pnpm md:lint, pnpm md:check

docs(blog): update article
  src/content/blog/2024-08-30-pix-me-studio.md
Due: pnpm md:lint, pnpm md:check

docs(blog): update article
  src/content/blog/2024-09-04-semicolons-debate.md
Due: pnpm md:lint, pnpm md:check
